.about-header{
    font-size: 48px;
    text-align: center;
}

.about-description{
    font-family: "Avenir Next", "Avenir", "Open Sans", "Roboto", Arial, sans-serif, "Goudy Bookletter 1911", sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin:50px 15%;
    font-weight: 100;
    ul{
        margin-left: 10%;
    }
}

.map-responsive{
    overflow:hidden;
    text-align: center;
}
.map-responsive iframe{
    width:90%;
    height: 300px;
}



@media screen and (max-width:800px){
    .about-description{
        margin: 50px 0;
        padding: 10px;
    } 
}