.about-header{
    font-size: 48px;
    text-align: center;
}

.about-description{
    padding: 60px @paddingWrapperPC;
    background: rgba(220, 220, 220, 0.40);
    color: #000;
    font-size: 16px;
    font-weight: 400;
    //line-height: 150%;
    ul{
        margin-left: 24px;
        margin-bottom: 0;
    }

    li a {
        text-decoration: none;
        color: #000;
    }
}


.about-wrapper {
    //width: 100%;
    //height: calc(100vh - @heightTopPanel);
    //background: url("../images/about-us-background.jpg") center no-repeat;
    //background-size: cover;
    height: fit-content;
    position: relative;
}

.img-about-wrapper {
    width: 100%;
    max-height: calc(100vh - 100px);
    object-fit: cover;
    //object-fit: contain;
    //position: absolute;
}

.about-page-header {
    color: @textMain;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    //padding-top: 52px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    top: 52px;
    left: 0;
    right: 0;
    padding: 0 @paddingWrapperPC;
    position: absolute;
}

.col-des-left-wrapper {
    padding-right: @paddingWrapperLaptop!important;
}

.col-des-right-wrapper {
    padding-left: @paddingWrapperLaptop!important;
}

.svg-to-next-section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

#about-company-section {
    margin: 100px auto;
}

.one-badge {
    display: flex;
    gap: 20px;

    .about-title2 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .about-desc {
        color: #242223;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}

.technics-section {
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    gap: 45px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.technics-section-title {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.svg-to-next-section:hover {
    cursor: pointer;
    animation: mover 1s infinite alternate;
}

.map-responsive{
    overflow:hidden;
    text-align: center;
}
.map-responsive iframe{
    width:100%;
    height: 320px;
}


.contact-form-wrapper {
    padding: 60px;
}

.col-right-about-wrapper {
    border-radius: 10px;
    background-image: url("../images/combine_background.jpg");
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}


.contact-section {
    margin-top: 100px;
}
.col-right-about-background {
    background: linear-gradient(180deg, rgba(127, 158, 41, 0.00) -1.09%, rgba(127, 158, 41, 0.87) 27.48%, #7F9E29 35.27%);
    color: #FFF;
    height: 100%;
    border-radius: 10px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }
}

.col-right-about-background-wrapper {
    padding: 0 36px;
    padding-top: 124px;
}


@media screen and (max-width:991px){
    .company-badges {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .contact-section {
        margin-top: 0;
    }

    .about-page-header {
        font-size: 22px;
        top: 24px;
    }

    .col-des-left-wrapper, .col-des-right-wrapper {
        padding:0!important;
    }

    .col-des-left-wrapper {
        border-bottom: 1px solid @textMuted;
        padding-bottom: @paddingWrapperLaptop!important;
    }

    .col-des-right-wrapper {
        padding-top: @paddingWrapperLaptop!important;
    }

    #about-company-section, .technics-section {
        margin: @paddingWrapperPC auto;
        padding: 0 @paddingWrapperMobile;
    }

    .technics-section {
        gap: 25px;
    }

    .contact-form-wrapper {
        padding: @paddingWrapperPC 120px;
    }

    .svg-to-next-section {
        bottom: 30px;
        svg {
            width: 50px;

        }
    }
}

@media screen and (max-width:767px) {
    .contact-form-wrapper {
        padding: 35px 0;
    }

    .col-right-about-background-wrapper {
        padding-right: @paddingWrapperMobile;
        padding-left: @paddingWrapperMobile;

        p {
            font-size: 14px;
        }
    }

    .col-right-about-wrapper {
        background-size: cover;
    }
}



@media screen and (max-width:575px) {
    .img-about-wrapper {
        min-height: 350px;
        object-fit: cover;
    }

    .about-page-header {
        font-size: 16px;
        top: 24px;
    }

    .contact-form-wrapper {
        .modal-h {
            font-size: 16px;
        }
    }

    .svg-to-next-section {
        bottom: 0;
        svg {
            width: 35px;
        }
    }

    .one-badge svg {
        width: 60px;
        margin-top: -17px;
    }

    #about-company-section, .technics-section {
        margin: 40px auto;
        padding: 0 @paddingWrapperMobile;
    }

    .about-description {
        padding: @paddingWrapperPC @paddingWrapperMobile;
    }

    .technics-section-title {
        font-size: 16px;
    }


}