.footer {
  margin-left: @WidthLeftPanel;
  overflow: hidden;
  background-color: #f1f1f1;
  vertical-align: center;
  padding: 20px 0 0px;
  line-height: 22px;
  margin-top: 50px;

  .about-cart {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }

  h4 {
    font-size: 14px;
    font-family: 'Myriad Pro Bold' !important;
    font-weight: bold !important;
  }

  .contacts-block {

    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    a, a:visited {
      color: #4c4c4c;
    }

    a:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  .m-left-5 {
    margin-left: 5px;
  }

  .social-items{
    text-decoration: none;
    font-size: 24px;
    margin: 14px 3px 14px 0;
  }
}

.footer-sub {
  background-color: white;
}

.developer-footer {
  font-size: 16px!important;
  background-color: #555555;
  margin-top: 50px!important;
  color: white;
  min-height: 50px;
  text-shadow: 1px 1px 1px #111010;

  h4 {

  }

  a {
    margin-top: 8px!important;
    font-size: 18px;
    color: white!important;
    text-shadow: 1px 1px 1px #111010;
    text-decoration: underline;
  }
}

@media (max-width:500px) {
  .footer{
    margin-left: 0;
  }
  .contacts-block {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .newsLetterContainer-footer-border {
    width: 95%!important;
  }

}


.newsLetterInputContainer {
  max-height: min-content;
}

.newsLetterInputContainer-modal {
  padding-bottom: 80px;
}

.form-modal-subscribe {
  margin-top: -20px;
}

.formButtonInlineButton-subscribe-modal {
  margin-top: 20px!important;
}

.newsLetterContainer {
  padding: 24px 16px 0;
  font-family: "Human BBY", Arial, sans-serif;
}

.newsLetterContainer-footer-border {
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin: auto;
  max-width: 500px;
  width: auto;
  box-shadow: -3px 3px 20px #d2d2d2;
}

.title_subsc, .signedUpMessageTitle_3JaS_ {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

.subTitle_subs, .signedUpMessageSubTitle_3o69y {
  font-size: 12px;
  margin-bottom: 8px;
}


.formInlineContainer {
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.formItem {
  font-family: "Human BBY", Arial, sans-serif;
  position: relative;
  padding: 0 0 16px;
  text-align: left;
}

.formEmailInputInlineButton {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  order: 1;
  width: 100%;
}

.button_sub {
  -webkit-transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
  transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
  box-shadow: 0 0 0 4px rgba(8, 94, 185, 0);
  position: relative;
  background: none;
  border: 0;
  border-radius: 0.125rem;
  box-sizing: border-box;
  color: #1d252c;
  cursor: pointer;
  display: inline-block;
  font-family: "Human BBY", Arial, sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  text-align: center;
  height: auto;
  line-height: 1rem;
  overflow: visible;
  padding: 0;
  width: auto;
}

.secondary_sub {
  background-color: #0046be;
  color: #fff;
  border: none;
}

.regular_cDhX6 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
}

.formButtonInlineButton {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  order: 2;
  min-height: 48px;
  min-width: 84px;
  margin-top: 22px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-radius: 0 10px 10px 0;
}

.regular_sub {
  padding: 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
}

.content_sub {
  display: block;
  position: relative;
  padding: 1px;
  margin: 0;
  font-size: small;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.input-email input {
  font-family: "Human BBY", Arial, sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  height: 48px;
  padding: 12px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px 0 0 10px;
  text-overflow: ellipsis;
}

.content_sub:active {
  outline: none;
  background-color: rgba(0, 0, 0, .12);
}

.content_sub:focus {
  outline: none;
}

#error-msg, #error-msg-modal{
  display: none;
  color: #cd504c;
}