.modal-backdrop {
  z-index: 0;
}

#messageModal {
  .modal-content {
    width: 450px;
    background: #fff;
  }
}

button.close_ {
  height: 44px;
  width: 44px;
}

.close_ {
  float: right;
  position: absolute;
  right: 1px;
  top: -5px;
  font-size: 50px;
  font-weight: bold;
  color: #f12208;
}

.close-signup {
  right: 7px;
}

.header-message {
  width: 100%;
  height: 40px;
  background: #4c78ab;
  padding: 0 9px;
  border-radius: 3px 3px 0 0;
  color: white;
  margin: auto auto;
  line-height: 40px
}

.right {
  float: right !important;
  line-height: 40px;
}
.left {
  float: left;
}

.message-title {
  color: #555;
  margin: 12px 6px 4px 6px;
}
.message-textarea {
  resize: none;
  border: 1px solid @textMuted;
  border-radius: 5px;
}

.message-modal-container {
  padding: 65px;
}

.message-form {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.message-textarea:focus {
  border: 1px solid @textSubline !important;
}

.message-btn-ok{
  width: 50%;
  border: none;
  min-width: 64px;
  margin: 0!important;
}

.message-btn-ok, .message-btn-ok:hover  {
  background: #4c78ab;
}


.social-items-modal {
  text-decoration: none;
  display: block;
  width: 260px;
  margin: auto;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.one-social-item-modal {
  width: 130px;
  display: inline-block;
  padding: 10px 10px;
}

.one-social-item-modal:hover {
  cursor: pointer;
  //color: #cd504c;
  background: #b4b4b4;
}

.m-left-5 a:hover {
  opacity: 0.6;
  text-decoration: none;
}



@media screen and (max-width: 575px) {
  #messageModal .modal-content {
    width: 100%;
  }
  .message-modal-container {
    padding: 30px 20px;
  }
}

