.img-thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 60px;
  object-fit: cover;
}



input[type='file'] {
  color: transparent;
}



.profile-fields-container{
  text-align: center!important;
  padding: 0 10%;
  margin: auto;
  max-width: 640px;
}

.profile-fields-container .control-label {
  font-weight: 600;
}


.file-wrapper {
    width: 140px;
    overflow:hidden;
}