/* Set a style for all buttons */
button {
  color: @textMainHovered;
  margin: 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  width: 100%;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 8200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(71, 78, 93, 0.7);
}

/* Modal Content/Box */
.modal-content {
  background: none;
  border: none;
  border-radius: 15px;
  //margin: 5% auto auto auto; /* 3% from the top */
  //font-family: "Segoe UI","Lucida Grande",Roboto,"Open Sans",sanf-serif,helvetica,tahoma,verdana,serif !important
}

.modal-dialog {
  max-width: none!important;
}

.auth-modal {
  width: 860px;
  margin: auto;
}

.left-col-auth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100% ;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 15px 0 0 15px;
}



.modal-h {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal-header-subtext {
  color: @textMainHovered;
  font-family: Mulish;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.modal-contact-form {
  padding: 0 @paddingWrapperPC;
  margin-bottom: 35px;
}

.auth-left-header {
  color: #FFF;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.72);
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}

.auth-btn-left {
  margin: 0 auto;
  width: fit-content;
  border-radius: 24px;
  border: 1px solid #FFF;
  background: rgba(0, 0, 0, 0.50);
  padding: 10px 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.remember_checkbox {
  color: @textMainHovered;
  margin-bottom: 0;
  display: flex;
  gap: 10px;
}

.form-container-auth {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.left-col-auth {
  border-radius: 15px 0 0 15px;
  background-size: cover!important;
  background-clip: content-box!important;
}
.left-col-auth[data-modal="login"] {
  background: url("../images/login-background-pc.jpg") ;

}
.left-col-auth[data-modal="register"] {
  background: url("../images/signup_background.jpg") ;
}

.login-btn {
  border-radius: 50px;
  padding: 10px 30px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  background: @textMainHovered;
  margin: 0;
}

.modal-content-subscribe-modal {
  margin: auto;
  position: absolute!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close_ {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f12208;
}

.close_:hover,
.close_:focus {
  color: #f41b26;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




@media screen and (max-width: 300px) {
  .cancelbtn, .signup {
    width: 100%;
  }
}

#kkk {
  text-align: center;
  margin-top: @heightTopBot;
  margin-bottom: 16px;
  width:100%!important;
  max-width: 1000px;
  //border: #2196F3 solid 2px;
  //border-radius: 20px;
}

.btn-close-modal {
  outline: none;
  position: absolute;
  top: 0.6rem;
  font-size: 2rem;
  right: 1.6rem;
  box-shadow: none;
  color: @textMainHovered;
  opacity: 1;
  z-index: 8002;
  cursor: pointer;
  width: fit-content;
}

.btn-close-modal:hover {
  color: darken(@textMainHovered,10%) !important;
  outline: none;
}

.right-col-signup {
  background: #fff;
  border-radius: 0 15px 15px 0;
}

.form-item-auth {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid @textMuted;
  color: #242223;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.form-item-auth::placeholder {
  color: @textMuted!important;
}

.form-item-auth:focus {
  border-bottom: 1px solid @textSubline!important;
  background: none!important;
  outline: 0;
  box-shadow: none!important;
}

.auth-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.auth-col:first-child {
  padding-right: 20px!important;
}

.auth-col:last-child {
  padding-left: 20px!important;
}

.form-container-login .auth-col:first-child, .form-container-login .auth-col:last-child {
  padding: 0!important;
}

.modal-right-container {
  padding: 50px;
}

.header-signup {
  width: 100%;
  height: 40px;
  background: #4c78ab;
  padding: 0 9px;
  border-radius: 3px 3px 0 0;
  color: white;
  margin: auto auto;
  line-height: 40px
}

.popup-close {
  opacity: 0.8;
  cursor: pointer;
  line-height: 40px;
}

.right {
  float: right !important;
  line-height: 40px;
}
.left {
  float: left;
}

.signup-btn {
  background: @textMainHovered;
  color: #FFF;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 31px;
  border-radius: 50px;
  margin: 0;
}

.btn:hover{
  opacity: 1 !important;
  text-decoration: none;
  color: white;
}

.signup-btn-container {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}

.signup-back{
  background: white;
  display: block;
  text-align: center;
  padding: 4px;
  padding-bottom: 8px;
}

/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 991px) {

  .modal-h {
    font-size: 20px;
  }
  .modal-header-subtext {
    font-size: 14px;
  }

  .modal-right-container {
    padding: 45px;
  }
  .left-col-auth-wrapper {
    min-height: 250px;
  }
  .left-col-auth, .left-col-auth-wrapper {
    border-radius: 15px 15px 0 0;
  }

  .auth-left-header {
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.72);
  }
  .modal-h {
    margin-bottom: 15px;
  }
  .form-container-auth {
    margin: 35px 0;
    gap: 35px;
  }

  .auth-modal {
    width: 450px;
  }

  .left-col-auth[data-modal="login"] {
    background: url("../images/login-background-md.jpg") ;
  }

  .right-col-signup {
    border-radius: 15px;
    margin-top: -15px;
  }

  .auth-col:first-child {
    padding-right: 0px!important;
  }

  .auth-col:last-child {
    padding-left: 0px!important;
  }

  .form-container-auth .row {
    gap: 35px;
  }

  .signup-btn-container {
    margin-bottom: 0;
    gap: 20px;
  }

  #log_in_btn {
    margin-top: 15px;
  }

}


@media (max-width: 575px) {
  .btn-cancel, .signup {
    width: 100%;
  }

  .modal-right-container {
    padding: 25px 20px;
  }

  .auth-left-header {
    font-size: 20px;
  }
  .modal-h {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .form-container-auth {
    margin: 20px 0;
  }
  .auth-col {
    gap: 35px;
  }
}