#logo {
  width : 150px;
  height: @heightTopPanel - 16;
  margin: 0px 0 0 5px;
}

#logo:hover {
  cursor: pointer;
}

.header-wrapper {
  overflow        : hidden;
  background-color: #f1f1f1;
  position: fixed;
  top : 0;
  width           : 100%;
  z-index:        8002;
}

.menu-popup, .popup-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.menu-popup .menu-popup-item, .menu-popup .menu-popup-item a, .popup-menu-mobile .menu-item {
  color: @textMain;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-user-name, .menu-user-phone  {
  color: #242223!important;
  font-size: 20px!important;
  font-style: normal;
  font-weight: 900!important;
  line-height: normal;
}

.menu-user-phone {
  color: @textMain!important;
  font-weight: 700!important;
}

#menu-pc {
  padding               : 25px;
  margin-bottom: 0;
  width: 300px;
  overflow: hidden;
}

.menu-is-login {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-is-login .menu-popup-item:hover {
  cursor: initial!important;
}

.menu-popup .menu-popup-item, .menu-popup .menu-popup-item a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-wrap: nowrap;
  overflow: hidden;
}

.menu-logout {
  color: @colorRed!important;
}

.menu-logout:hover {
  color: darken(@colorRed,10%) !important;
}

.subscribe_email_popup, .popup-menu-mobile {
  margin-top: 36px!important;
}

.menu-popup .menu-popup-item:hover , .menu-popup .menu-popup-item a:hover {
  color: @textSubline;
  cursor: pointer;
}

.popup-menu-mobile .menu-item {
  font-weight: 900;
}

.popup-menu-mobile .menu_item:hover {
  color: @textMainHovered;
}

#subheader-wrapper {
  background: #FFF;
  box-shadow: 4px 8px 24px 0px rgba(148, 189, 129, 0.45);
  width: 100%;
  z-index: 8002;
}

#subheader {
  padding: 8px 40px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  //overflow: hidden;

}

.header-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  justify-content: center;
}
.header-menu a {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  cursor         : pointer;
  text-decoration: none;
  color: @textMain;
}

.header-menu a:hover {
  color: @textMainHovered;
}

.header-main-wrapper {
  background-color: #FDFDFD;
  //height          : @heightTopPanel;
  position: fixed;
  width           : 100%;
  z-index:        8002;
}
.header {
  //overflow        : hidden;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  padding: 0 @paddingWrapperPC;
  width           : 100%;
}

.header-phones {
  display: flex;
  gap:20px;
}

.header-phones a {
  color: @textSubline;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.header a.logo {
  font-size  : 25px;
  font-weight: bold;
}

.header a:hover {
  color           : @textMainHovered;
  cursor          : pointer;
}

.header svg:hover {
  fill           : @textMainHovered;
}

.header a.active {
  background-color: dodgerblue;
  color           : white;
}

.header-right {
  height      : 65px;
  display     : flex;
  align-items : center;
  margin-right: 10px;
}

.header-right a {
  margin-left: 25px;
}

.header-left {
  display: flex;
  width: 100%;
}

.header-right .icons {
  font-size: 24px;
}

.header-schedule {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  font-weight: 600;
  color: @textSubline;
}

#contact_phone {
  cursor: default;
}

.log-sign {
  display: flex;
}

#basketBtn {
  position: relative;
}

.circle-basket {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Mulish;
  font-size: 12px;
  text-align: center;
  right: -10px;
  z-index: 100000;
  color: white;
  background: @textMain;
  border-radius: 50px;
}

#user_photo {
  display      : none;
  margin       : 5px 5px 5px 5px;
  height       : @heightTopPanel - 11;
  width        : @heightTopPanel - 11;
  border-radius: 100%;
  cursor       : pointer
}

.btn-group {
  z-index: 100000;
}

.menu_item {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.menu_item, .menu_item a {
  color: #212020!important;
}

.menu_item:hover {
  background-color: #deeced;
  cursor          : pointer;
  text-decoration: none;
}

.menu_item a:hover {
  text-decoration: none;
}

#exit_btn {
  padding         : -5px;
  background-color: #d9534f;
}

.phones-mobile {
  position: fixed;
  background-color: #ddddddad;
  font-size: 14px!important;
  display: block;
}


@media (max-width:991px) {
  .header-right {
    display: none;
  }
  .header-menu {
    gap: 20px;
    margin-left: 64px;
    justify-content: start;
  }
  .header {
    padding: 0 @paddingWrapperLaptop;
  }
}

@media (max-width:768px) {
  #subheader {
    padding: 5px 0;
  }

  .header-menu {
    display: none;
  }

}


@media (max-width:575px) {

  #header-mobile-phone {
    display: inline-flex;
    justify-content: space-evenly;
  }

  .header {
    //top: 20px;
    padding: 0 @paddingWrapperMobile;
    height: 50px;
  }


  #logo {
    width: 120px;
    height: 42px;
  }
  .menu-user-name, .menu-user-phone {
    font-size: 18px!important;
  }


  .menu-popup, .popup-menu-mobile {
    gap: 16px;
  }

}