#logo {
  width : 150px;
  height: @heightTopPanel - 16;
  margin: 0px 0 0 5px;
}

#logo:hover {
  cursor: pointer;
}

.header {
  overflow        : hidden;
  background-color: #f1f1f1;
  height          : @heightTopPanel;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  position: fixed;
  top : 0;
  width           : 100%;
  z-index:        8002;
}

#header-mobile-phone {
  display: none;
  text-align: center;
  /* justify-content: space-between; */
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  z-index: 8002;
}

.header a,
#contact_phone {
  color          : black;
  text-align     : center;
  text-decoration: none;
  font-size      : 12px;
  border-radius  : 4px;
  cursor         : pointer;
  margin-left    : 25px;
  font-style: oblique;
  font-family: monospace;
}

.contact_phone_m {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  /* margin-left: 25px; */
  display: inline-block;
  width: 49%;
  font-style: oblique;
  font-family: monospace;
}

.header a.logo {
  font-size  : 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color           : black;
  cursor          : pointer;
}

.header a.active {
  background-color: dodgerblue;
  color           : white;
}

.header-right {
  height      : 65px;
  display     : flex;
  align-items : center;
  margin-right: 10px;
}

.header-left {
  display: flex;
}

.header-right .icons {
  font-size: 24px;
}

#contact_phone {
  cursor: default;
}

.log-sign {
  display: flex;
}

#basketBtn {
  position: relative;
}

.circle-basket {
  display: none;
  width: 13px;
  height: 13px;
  position: absolute;
  top: -4px;
  font-size: 10px;
  right: -2px;
  z-index: 100000;
  color: white;
  background: #bb0707;
  border-radius: 5px;
}

#user_photo {
  display      : none;
  margin       : 5px 5px 5px 5px;
  height       : @heightTopPanel - 11;
  width        : @heightTopPanel - 11;
  border-radius: 100%;
  cursor       : pointer
}

.btn-group {
  z-index: 100000;
}

.menu_item {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.menu_item, .menu_item a {
  color: #212020!important;
}

.menu_item:hover {
  background-color: #deeced;
  cursor          : pointer;
  text-decoration: none;
}

.menu_item a:hover {
  text-decoration: none;
}

#exit_btn {
  padding         : -5px;
  background-color: #d9534f;
}

.phones-mobile {
  position: fixed;
  background-color: #ddddddad;
  font-size: 14px!important;
  display: block;
}


@media (max-width:500px) {

  #header-mobile-phone {
    display: inline-flex;
    justify-content: space-evenly;
  }

  .header {
    top: 20px;
    height: 50px;
  }

  #logo {
    width: 120px;
    height: 42px;
  }

  #user_photo {
    margin: 10px 10px 5px 5px;
    height: 35px;
    width: 35px;
  }

}