<!DOCTYPE html>
<html>

<head lang="uk">
    <meta name="robots" content="none, noindex, nofollow">
    <meta charset="UTF-8">
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js" integrity="sha512-mE4RWRhILuNDWPx8sl5Q739XNbibSUZP9dEjdepzpYVw1kDco9ZZ5l/+KHAMffzXNHnmSWexMSN+OX137tNL5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
</head>

<body>
    <% include common/header.ejs %>

    <div id="main">
        <div class="narrow-wrapper padding-wrapper add-top-padding page_not_exist">
            <div class="page_not_exist_title add-top-padding">Даної сторінки не існує</div>
            <div class="page_not_exist_subtitle">Ой, щось пішло не так</div>
            <div style="text-align: center" class="mt-5">
                <button class="btn btn-green-text-white m-auto pr-4 pl-4" onclick="document.location.href='/'">На головну</button>
            </div>
        </div>
    </div>
<script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script type="text/javascript" src="/assets/js/oneEquipmentMain.js"> </script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script  type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
<script  type="text/javascript" src="/assets/js/maskph_call.js"></script>
<% include common/footer.ejs %>
</body>

</html>