<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KS45HK4');</script>
    <!-- End Google Tag Manager -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >

    <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js" integrity="sha512-mE4RWRhILuNDWPx8sl5Q739XNbibSUZP9dEjdepzpYVw1kDco9ZZ5l/+KHAMffzXNHnmSWexMSN+OX137tNL5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- LESS основний файл -->
<!--    <link rel="stylesheet" type="text/css" href="assets/less/all.css" />-->

    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>


</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% include common/header.ejs %>

    <div id="main">
        <section class="about-wrapper">
            <img class="img-about-wrapper" src="/assets/images/about-us-background.webp"/>
            <h1 class="about-page-header">Магазин сільськогосподарської техніки TRACKTOP</h1>
            <a class="svg-to-next-section" href="#about-company-section">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <g filter="url(#filter0_b_556_4341)">
                        <circle cx="30" cy="30" r="28.75" stroke="white" stroke-width="2.5"/>
                    </g>
                    <path d="M31.25 12.75C31.25 12.0596 30.6904 11.5 30 11.5C29.3096 11.5 28.75 12.0596 28.75 12.75H31.25ZM29.1161 48.1339C29.6043 48.622 30.3957 48.622 30.8839 48.1339L38.8388 40.1789C39.327 39.6908 39.327 38.8993 38.8388 38.4112C38.3507 37.923 37.5592 37.923 37.0711 38.4112L30 45.4822L22.9289 38.4112C22.4408 37.923 21.6493 37.923 21.1612 38.4112C20.673 38.8993 20.673 39.6908 21.1612 40.1789L29.1161 48.1339ZM28.75 12.75L28.75 47.25H31.25L31.25 12.75H28.75Z" fill="white"/>
                    <defs>
                        <filter id="filter0_b_556_4341" x="-30" y="-30" width="120" height="120" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="15"/>
                            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_556_4341"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_556_4341" result="shape"/>
                        </filter>
                    </defs>
                </svg>
            </a>
        </section>

        <section id="about-company-section" class="narrow-wrapper padding-wrapper">
            <div class="row no-gutters company-badges">
                <div class="col-lg-4 one-badge">
                    <div class="about-badge">
                        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="86" viewBox="0 0 85 86" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5 10.0625C36.6293 10.0625 30.9991 12.3946 26.8479 16.5458C22.6967 20.697 20.3646 26.3273 20.3646 32.198C20.3646 38.0686 22.6967 43.6989 26.8479 47.8501C30.9991 52.0013 36.6293 54.3334 42.5 54.3334C48.3707 54.3334 54.0009 52.0013 58.1521 47.8501C62.3033 43.6989 64.6354 38.0686 64.6354 32.198C64.6354 26.3273 62.3033 20.697 58.1521 16.5458C54.0009 12.3946 48.3707 10.0625 42.5 10.0625ZM15.0521 32.198C15.055 28.1874 15.9367 24.2262 17.6351 20.5931C19.3336 16.96 21.8076 13.7432 24.8831 11.1691C27.9586 8.59503 31.5608 6.72617 35.4362 5.69405C39.3117 4.66192 43.3662 4.49161 47.3146 5.19509C51.2629 5.89856 55.0091 7.45874 58.2896 9.76584C61.5702 12.0729 64.3052 15.0709 66.3024 18.5488C68.2996 22.0267 69.5104 25.9 69.8496 29.8961C70.1887 33.8923 69.6481 37.9143 68.2656 41.679L76.3689 50.0657C77.2791 51.0113 78.0371 51.7976 78.6037 52.4528C79.1633 53.0973 79.7371 53.834 80.0735 54.6911C81.2564 57.6838 80.3073 61.2255 77.4562 62.968C76.6416 63.4709 75.7066 63.6763 74.9062 63.8109C74.0846 63.9526 73.0433 64.0588 71.8144 64.1899L71.7294 64.1969C70.1037 64.3705 69.7956 64.4236 69.5867 64.5051C69.2589 64.634 68.9633 64.833 68.7204 65.0881C68.4775 65.3432 68.2933 65.6482 68.1806 65.9819C68.0885 66.2299 68.0354 66.5947 67.8689 68.2628L67.8619 68.3407C67.7344 69.6192 67.6281 70.6924 67.4971 71.5353C67.3696 72.3499 67.1783 73.2849 66.7073 74.103C65.0427 77.0142 61.54 78.1051 58.5012 76.8195C57.6477 76.4582 56.9217 75.8526 56.3054 75.2788C55.6679 74.6909 54.9135 73.9047 54.0033 72.959L53.9325 72.8882L42.5 60.8501L31.0534 72.9094L31.0002 72.9626C30.09 73.9082 29.3321 74.6945 28.6981 75.2824C28.0784 75.8561 27.3523 76.4617 26.5023 76.823C23.4565 78.1086 19.9573 77.0178 18.2927 74.1065C17.8252 73.2884 17.6304 72.3569 17.5029 71.5353C17.3719 70.6959 17.2657 69.6228 17.1417 68.3478L17.1311 68.2663C16.9682 66.5982 16.9115 66.2369 16.8229 65.9855C16.7102 65.6518 16.526 65.3467 16.2832 65.0916C16.0403 64.8365 15.7447 64.6376 15.4169 64.5086C15.2044 64.4271 14.8963 64.374 13.2707 64.2005L13.1892 64.1934C11.9602 64.0624 10.919 63.9526 10.0973 63.8144C9.29692 63.6834 8.36192 63.4744 7.54379 62.9715C4.69629 61.229 3.74713 57.6873 4.9265 54.6946C5.2665 53.8376 5.83671 53.1009 6.39629 52.4563C6.96296 51.8011 7.72087 51.0148 8.63462 50.0692L16.7344 41.6825C15.6179 38.6452 15.0483 35.434 15.0521 32.198ZM19.2242 46.7507L12.5092 53.703C11.5317 54.7159 10.873 55.3959 10.4125 55.9307C10.2065 56.1471 10.0237 56.3845 9.86712 56.639C9.54837 57.4536 9.86712 58.1407 10.2886 58.4205C10.3205 58.4311 10.5011 58.4913 10.9757 58.5728C11.6132 58.679 12.4986 58.7746 13.8302 58.9163L14.0959 58.9446C15.3 59.0686 16.3661 59.1819 17.3188 59.5467C19.4402 60.3613 21.0623 62.0613 21.8238 64.1934C22.1638 65.1461 22.27 66.2228 22.3904 67.4765L22.4188 67.7421C22.5534 69.1199 22.6454 70.0407 22.7517 70.7171C22.8438 71.2909 22.9146 71.4751 22.9182 71.4857C23.2015 71.9638 23.7823 72.1976 24.4234 71.9284C24.4234 71.9284 24.6004 71.8328 25.0821 71.383C25.5956 70.9084 26.2509 70.2319 27.2248 69.2226L27.2319 69.2155L36.8652 59.0651C33.2476 58.3047 29.8205 56.8222 26.7893 54.7063C23.7581 52.5903 21.1851 49.8844 19.2242 46.7507ZM48.1348 59.0686C51.7534 58.3083 55.1813 56.8254 58.2131 54.7088C61.245 52.5923 63.8185 49.8855 65.7794 46.7507L72.4944 53.703C73.4719 54.7159 74.1271 55.3959 74.5875 55.9307C75.0231 56.4265 75.1223 56.6213 75.1329 56.639C75.4516 57.4536 75.1329 58.1407 74.715 58.4205C74.6796 58.4311 74.5025 58.4913 74.0279 58.5728C73.3869 58.679 72.505 58.7746 71.1698 58.9163L70.9042 58.9446C69.7035 59.0686 68.6339 59.1819 67.6812 59.5467C65.5633 60.3613 63.9377 62.0613 63.1762 64.1934C62.8362 65.1461 62.73 66.2228 62.6096 67.4765L62.5812 67.7421C62.4467 69.1199 62.3546 70.0407 62.2483 70.7171C62.1598 71.2909 62.0854 71.4751 62.0854 71.4857C61.8021 71.9638 61.2177 72.2011 60.5731 71.9284H60.5802C60.5802 71.9284 60.4031 71.8328 59.9179 71.383C59.1856 70.681 58.4711 69.9606 57.7752 69.2226L57.7681 69.2155L48.1348 59.0686ZM42.5036 25.235C42.2946 25.5927 42.0644 26.0036 41.7952 26.4888L41.4481 27.1121C41.4219 27.1592 41.396 27.2064 41.3702 27.2538C41.0904 27.7638 40.63 28.6067 39.8615 29.1911C39.0788 29.7861 38.1331 29.9915 37.5842 30.1119L37.4319 30.1438L36.7554 30.2961C36.1321 30.4377 35.6292 30.5511 35.1971 30.6609C35.4769 31.0044 35.8417 31.4365 36.3163 31.9925L36.7767 32.5309L36.8829 32.6513C37.2654 33.094 37.8852 33.8023 38.1686 34.7232C38.4519 35.6298 38.3527 36.5648 38.2925 37.1527C38.2863 37.2082 38.2804 37.2637 38.2748 37.3192L38.204 38.0382C38.15 38.5807 38.1016 39.1238 38.0588 39.6673C38.4271 39.5044 38.845 39.3132 39.3444 39.083L39.9783 38.7925L40.12 38.7217C40.63 38.4844 41.5154 38.07 42.5 38.07C43.4881 38.07 44.37 38.4844 44.88 38.7253L45.0217 38.7925L45.6592 39.083C46.155 39.3132 46.5729 39.508 46.9448 39.6673C46.8987 39.124 46.8491 38.5809 46.796 38.0382L46.7252 37.3192C46.7197 37.2637 46.7138 37.2082 46.7075 37.1527C46.6473 36.5613 46.5517 35.6298 46.8315 34.7232C47.1148 33.8023 47.7346 33.094 48.1171 32.6513L48.2233 32.5309L48.6838 31.9925C49.1583 31.4365 49.5231 31.0044 49.8065 30.6609C49.3744 30.5546 48.8679 30.4377 48.2481 30.2961L47.5717 30.1438L47.4194 30.1084C46.8669 29.9915 45.9248 29.7861 45.1385 29.1875C44.37 28.6067 43.9096 27.7638 43.6333 27.2573L43.5519 27.1121L43.2048 26.4888C42.9356 26.0036 42.709 25.5927 42.5 25.235H42.5036ZM39.0044 20.8646C39.6136 20.0677 40.7221 18.9167 42.4965 18.9167C44.2744 18.9167 45.3829 20.0677 45.9921 20.8646C46.5729 21.6225 47.1608 22.6744 47.7629 23.7546L47.8408 23.8998L48.1915 24.5267L48.3898 24.8809L48.7404 24.9623L49.4133 25.1146L49.5833 25.15C50.745 25.4157 51.896 25.6742 52.7815 26.0248C53.7625 26.4109 55.0835 27.1582 55.5971 28.805C56.1 30.4165 55.466 31.7836 54.9135 32.6655C54.4 33.48 53.6244 34.3867 52.824 35.3182L52.7177 35.4421L52.2573 35.984L51.9669 36.3275L52.0094 36.8057L52.0802 37.5246L52.0944 37.6875C52.2183 38.9342 52.3352 40.1384 52.2892 41.1017C52.2467 42.1146 52.0058 43.6446 50.6317 44.6823C49.215 45.759 47.6567 45.5253 46.665 45.2384C45.7513 44.9798 44.6746 44.4805 43.5838 43.9811L43.4315 43.9103L42.7975 43.6163C42.6972 43.5701 42.5969 43.5241 42.4965 43.4782L42.1954 43.6198L41.565 43.9103L41.4092 43.9811C40.3219 44.4805 39.2417 44.9798 38.3279 45.2384C37.3363 45.5217 35.7779 45.759 34.3613 44.6823C32.9906 43.6446 32.7498 42.1146 32.7038 41.1053C32.6613 40.1384 32.7746 38.9342 32.8986 37.6875L32.9163 37.5246L32.9871 36.8057L33.0296 36.3275C32.9324 36.2124 32.8344 36.0979 32.7356 35.984L32.2752 35.4421L32.169 35.3182C31.3721 34.3867 30.5929 33.4765 30.0794 32.6619C29.5269 31.7836 28.8965 30.4165 29.3959 28.8015C29.9094 27.1617 31.234 26.4109 32.2115 26.0248C33.0969 25.6742 34.2515 25.4157 35.4131 25.1536L35.5761 25.1182L36.2525 24.9623L36.6067 24.8809L36.805 24.5267L37.1521 23.8998L37.2336 23.7546C37.8356 22.6744 38.42 21.6225 39.0044 20.8646Z" fill="#DCDCDC"/>
                        </svg>
                    </div>
                    <div class="about-desc-wrapper">
                        <h4 class="text-black-title-900-uppercase about-title2">Досвід та експертиза </h4>
                        <div class="about-desc">
                            Ми маємо багаторічний досвід у сфері продажу сільськогосподарської техніки та запчастин, що дозволяє нам надавати клієнтам висококваліфіковану підтримку та консультації.
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 one-badge">
                    <div class="about-badge">
                        <svg width="92" height="80" viewBox="0 0 92 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M84.9901 35.7223L87.8326 32.8736C87.8327 32.8735 87.8328 32.8734 87.833 32.8732C87.833 32.8732 87.833 32.8732 87.833 32.8732C88.5987 32.1043 89.841 32.105 90.6075 32.8729L84.9901 35.7223ZM84.9901 35.7223C83.9814 26.7842 79.9776 18.5138 73.4961 12.1253L73.496 12.1252C66.0988 4.83791 56.3113 0.822266 45.9365 0.822266C29.1562 0.822266 14.217 11.4992 8.76016 27.3907C8.40756 28.4159 8.95219 29.5336 9.97597 29.8874C11.0016 30.2418 12.1173 29.6939 12.4698 28.6693L12.4699 28.669C17.382 14.3629 30.8324 4.75193 45.9365 4.75193C55.2765 4.75193 64.0841 8.36515 70.7435 14.9264C76.3221 20.4233 79.8596 27.465 80.9538 35.1015L78.7303 32.8732C77.9631 32.1043 76.7207 32.1064 75.9557 32.8732C75.1897 33.6408 75.189 34.8844 75.9561 35.6512L81.8943 41.6024C82.2766 41.9855 82.7796 42.1784 83.2817 42.1784C83.7837 42.1784 84.2867 41.9855 84.669 41.6024L90.6077 35.6508C91.3735 34.8833 91.3743 33.64 90.6077 32.8732L84.9901 35.7223Z" fill="#DCDCDC" stroke="#DCDCDC"/>
                            <path d="M7.0171 39.4311L1.07986 45.2139C1.07983 45.2139 1.0798 45.2139 1.07977 45.214C0.306972 45.9664 0.306331 47.1914 1.08032 47.9429C1.84499 48.6854 3.07948 48.6888 3.84459 47.9421C3.84462 47.9421 3.84465 47.9421 3.84468 47.942L6.69324 45.1689C7.7039 53.856 11.7104 61.8916 18.1918 68.0973L18.1918 68.0973C25.5888 75.1787 35.3763 79.0762 45.7452 79.0762C62.5165 79.0762 77.4598 68.7098 82.9206 53.2623C83.2806 52.2459 82.7197 51.1543 81.7022 50.8127C80.6891 50.4727 79.5712 50.9935 79.214 52.002L79.2139 52.0023C74.3055 65.8888 60.8603 75.2288 45.7452 75.2288C36.4005 75.2288 27.5911 71.7171 20.9326 65.3443C15.3591 60.0096 11.8255 53.179 10.7294 45.7735L12.956 47.9411C13.3392 48.3142 13.8406 48.4997 14.3382 48.4997C14.8357 48.4997 15.3371 48.3142 15.7203 47.9411C16.4932 47.1887 16.4939 45.9637 15.72 45.2121C15.7199 45.2121 15.7199 45.212 15.7199 45.212L9.78155 39.431C9.01713 38.6868 7.78292 38.6875 7.01764 39.4305L7.0171 39.4311Z" fill="#DCDCDC" stroke="#DCDCDC"/>
                            <path d="M30.8334 22.666V38.396C26.9334 39.7827 24.3334 43.466 24.3334 47.5827C24.3334 52.9994 28.6667 57.3327 34.0834 57.3327C39.045 57.3327 43.205 53.606 43.7684 48.666H52.8684C52.63 49.3594 52.5 50.096 52.5 50.8327C52.5 52.5566 53.1849 54.2099 54.4038 55.4289C55.6228 56.6479 57.2761 57.3327 59 57.3327C60.7239 57.3327 62.3772 56.6479 63.5962 55.4289C64.8152 54.2099 65.5 52.5566 65.5 50.8327C65.5 50.096 65.37 49.3594 65.11 48.666H67.6667V42.166C67.6667 39.761 65.7384 37.8327 63.3334 37.8327H52.5867L49.575 22.666H30.8334ZM35.1667 26.9993H46L48.1667 37.8327V44.3327H43.27C42.6527 42.6118 41.567 41.0975 40.1353 39.9606C38.7035 38.8236 36.9827 38.1091 35.1667 37.8977V26.9993ZM34.0834 42.7077C35.3763 42.7077 36.6163 43.2213 37.5305 44.1355C38.4448 45.0498 38.9584 46.2898 38.9584 47.5827C38.9584 48.8756 38.4448 50.1156 37.5305 51.0298C36.6163 51.9441 35.3763 52.4577 34.0834 52.4577C32.7904 52.4577 31.5505 51.9441 30.6362 51.0298C29.722 50.1156 29.2084 48.8756 29.2084 47.5827C29.2084 46.2898 29.722 45.0498 30.6362 44.1355C31.5505 43.2213 32.7904 42.7077 34.0834 42.7077ZM59 47.5827C59.862 47.5827 60.6886 47.9251 61.2981 48.5346C61.9076 49.1441 62.25 49.9707 62.25 50.8327C62.25 51.6946 61.9076 52.5213 61.2981 53.1308C60.6886 53.7403 59.862 54.0827 59 54.0827C58.1381 54.0827 57.3114 53.7403 56.7019 53.1308C56.0924 52.5213 55.75 51.6946 55.75 50.8327C55.75 49.9707 56.0924 49.1441 56.7019 48.5346C57.3114 47.9251 58.1381 47.5827 59 47.5827Z" fill="#DCDCDC"/>
                        </svg>

                    </div>
                    <div class="about-desc-wrapper">
                        <h4 class="text-black-title-900-uppercase about-title2">Широкий асортимент продукції</h4>
                        <div class="about-desc">
                            Ми пропонуємо широкий вибір вживаної сільськогосподарської техніки та запчастин від провідних виробників. Кожен клієнт може знайти необхідне обладнання для свого господарства.
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 one-badge">
                    <div class="about-badge">
                        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="86" viewBox="0 0 85 86" fill="none">
                            <path d="M24.5703 21.0742C24.2051 21.0742 23.9062 21.373 23.9062 21.7383V25.7227C23.9062 26.0879 24.2051 26.3867 24.5703 26.3867H56.4453C56.8105 26.3867 57.1094 26.0879 57.1094 25.7227V21.7383C57.1094 21.373 56.8105 21.0742 56.4453 21.0742H24.5703ZM39.8438 33.0273H24.5703C24.2051 33.0273 23.9062 33.3262 23.9062 33.6914V37.6758C23.9062 38.041 24.2051 38.3398 24.5703 38.3398H39.8438C40.209 38.3398 40.5078 38.041 40.5078 37.6758V33.6914C40.5078 33.3262 40.209 33.0273 39.8438 33.0273Z" fill="#DCDCDC"/>
                            <path d="M35.8594 71.0449H17.2656V12.6074H63.75V39.1699C63.75 39.5352 64.0488 39.834 64.4141 39.834H69.0625C69.4277 39.834 69.7266 39.5352 69.7266 39.1699V9.28711C69.7266 7.81787 68.5396 6.63086 67.0703 6.63086H13.9453C12.4761 6.63086 11.2891 7.81787 11.2891 9.28711V74.3652C11.2891 75.8345 12.4761 77.0215 13.9453 77.0215H35.8594C36.2246 77.0215 36.5234 76.7227 36.5234 76.3574V71.709C36.5234 71.3438 36.2246 71.0449 35.8594 71.0449Z" fill="#DCDCDC"/>
                            <path d="M72.3828 63.7402H60.4297V60.7022C64.2729 59.5566 67.0703 56.0039 67.0703 51.7871C67.0703 46.6489 62.9116 42.4902 57.7734 42.4902C52.6353 42.4902 48.4766 46.6489 48.4766 51.7871C48.4766 55.9956 51.2739 59.5566 55.1172 60.7022V63.7402H43.1641C42.4336 63.7402 41.8359 64.3379 41.8359 65.0684V77.6855C41.8359 78.416 42.4336 79.0137 43.1641 79.0137H72.3828C73.1133 79.0137 73.7109 78.416 73.7109 77.6855V65.0684C73.7109 64.3379 73.1133 63.7402 72.3828 63.7402ZM53.623 51.7871C53.623 49.4961 55.4824 47.6367 57.7734 47.6367C60.0645 47.6367 61.9238 49.4961 61.9238 51.7871C61.9238 54.0781 60.0645 55.9375 57.7734 55.9375C55.4824 55.9375 53.623 54.0781 53.623 51.7871ZM68.5645 73.8672H46.9824V68.8867H68.5645V73.8672Z" fill="#DCDCDC"/>
                        </svg>
                    </div>
                    <div class="about-desc-wrapper">
                        <h4 class="text-black-title-900-uppercase about-title2">Гнучкість та індивідуальний підхід</h4>
                        <div class="about-desc">
                            Ми розуміємо, що кожен клієнт має унікальні потреби. Тому ми пропонуємо гнучкі умови співпраці та готові розглянути індивідуальні побажання та запити кожного замовника.
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2578860.239333593!2d23.85733003280578!3d50.86045711971161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4725241de111dba5%3A0xb313592f7cd939e8!2z0JrQvtGA0YfQuNC9LCDQm9GM0LLQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDgwMjcx!5e0!3m2!1sru!2sua!4v1585071504852!5m2!1sru!2sua&hl=uk"  frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe></iframe></iframe>
        </div>

        <section class="technics-section narrow-wrapper padding-wrapper category-section">
            <header>
                <h2 class="text-black-title-900-uppercase technics-section-title">Представлений компанією асортимент включає наступні види сг техніки:</h2>
            </header>
            <main>
                <div class="technic-category-list">
                    <div class="technic-category-wrapper">
                            <div class="technic-category-card">
                                <a href="/category_equipments" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Запчастини" data-src="/images/technics_placeholders/parts.png" alt="Купити запчастини до комбайнів, сівалок, тракторів. Запчастини до с/г техніки.">
                                    <div class="card-technic-footer">

                                        <h2 class="title">Запчастини</h2>

                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics?type=Комбайни" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Комбайни" data-src="/images/technics_placeholders/combine.png" alt="Купити Комбайни. Бу Комбайни Львівська область. Комбайн зернозбиральний">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Комбайни</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics?type=Трактори" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Трактори" data-src="/images/technics_placeholders/tractor.png" alt="Купити Трактори. Бу Трактори Львівська область. Трактор сільськогосподарський">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Трактори</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics?type=Сівалки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Сівалки" data-src="/images/technics_placeholders/seeder.png" alt="Купити Сівалки. Бу Сівалки Львівська область. Сівалки: зернова кінна, дискова, анкерна">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Сівалки</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics?type=Плуги" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Плуги" data-src="/images/technics_placeholders/plug.png" alt="Купити Плуги. Бу Плуги Львівська область.">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Плуги</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics?type=Жатки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Жатки" data-src="/images/technics_placeholders/headers.png" alt="Купити Жатку кукурудзяну. Бу Жатки Львівська область. Жатка для збирання кукурудзи, зернова">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Жатки</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics?type=Фронтальні навантажувачі" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Фронтальні навантажувачі" data-src="/images/technics_placeholders/loaders.png" alt="Купити фронтальні навантажувачі на трактор. Фронтальні навантажувачі МТЗ, Т-40, Т-25">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Навантажувачі</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="technic-category-card">
                                <a href="/technics?type=Преси-підбирачі" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Преси-підбирачі" data-src="/images/technics_placeholders/press.png" alt="Купити Преси-підбирачі. Бу Преси-підбирачі Львівська область. Купити прес-підбирач рулонний, квадратний">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Преси-підбирачі</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="technic-category-card">
                                <a href="/technics?type=Спецтехніка" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Спецтехніка" data-src="/images/technics_placeholders/spec.png" alt="Купити спецтехніку Україна. Фронтальний навантажувач, екскаватор, маніту та інше">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Спецтехніка</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="technic-category-card">
                                <a href="/technics?type=Косарки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Косарки" data-src="/images/technics_placeholders/kosarky.png" alt="Купити косарку. Бу косарки та нові Львівська область. Косарка роторна">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Косарки</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics?type=Грабарки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Грабарки" data-src="/images/technics_placeholders/grabarky.png" alt="Купити грабарку до тракора. Бу грабарки та нові Львівська область. Грабарка сонеяко та ">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Грабарки</h2>
                                        <div class="action">
                                    <span class="">
                                        Перейти до категорії
                                    </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card">
                                <a href="/technics-without-category" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Інша техніка" data-src="/images/technics_placeholders/others.png" alt="Купити Жатку кукурудзяну. Бу Жатки Львівська область. Жатка для збирання кукурудзи, зернова">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Інша техніка</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                </div>
            </main>
            <footer>
                <a class="btn btn-green-text-white text-center text-uppercase d-block mx-auto pr-4 pl-4" href="/categories">Показати всі</a>
            </footer>
        </section>


        <section class="about-description">
            <main class="narrow-wrapper">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-6 col-des-left-wrapper">
                        Компанія <strong>”Tracktop”</strong> спеціалізується на продажі <strong>сільськогосподарської техніки</strong> і запчастин до них. Ми
                        реалізуємо як нову техніку так і бу, також можемо привезти техніку під індивідуальне замовлення
                        покупця.</br>
                        Представлений компанією асортимент включає наступні види <strong>сг техніки</strong>:
                        <ul>
                            <strong><li><a href="/">комбайни;</a></li></strong>
                            <strong><li><a href="/">трактори;</a></li></strong>
                            <strong><li><a href="/">сівалки (бурякові, зернові, кукурудзяні);</a></li></strong>
                            <strong><li><a href="/">преси-підбирачі;</a></li></strong>
                            <strong><li><a href="/">плуги;</a></li></strong>
                            <strong><li><a href="/">косарки та грабарки;</a></li></strong>
                            <strong><li><a href="/">жатки кукурудзяні(приставка кукурудзяна), соняшникова;</a></li></strong>
                            <strong><li><a href="/">фронтальні навантажувачі;</a></li></strong>
                            <strong><li><a href="/">запчастини до сільськогосподарської техніки;</a></li></strong>

                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-6 col-des-right-wrapper">
                        Нова сг техніка звісно є хорошим капіталовкладенням, але якщо придбання нової сг техніки для вашого
                        підприємства є недоцільним, найкращим варіантом буде – <strong>купити сг техніку бу</strong>.

                        Ми здійснюємо <strong>продаж сг техніки</strong> провідних світових виробників, таких як <strong>John Deere, Claas, Massey Ferguson, Geringhoff, New Holland, Volvo,</strong>
                        яка добре проявила себе на українських полях, має високу надійність і високі експлуатаційні показники.

                        Якщо вам необхідно <strong>придбати зернозбиральний комбайн </strong>, краще за все розглянути комбайни John Deere та Claas, які є
                        найкращими представниками в даній ніші.

                        <p class="mt-3">
                        Сг техніка завжди працює в умовах наближених до екстремальних, що зумовлює необхідність мати під рукою
                        необхідні запчастини. Окрім техніки ми продаємо і найбільш затребувані <strong>запчастини до сг техніки</strong> яку ми
                        продаємо.

                        Навіть якщо у вас ще нічого не зламалося, краще мати запчастини, які найчастіше потребують заміни.
                        </p>
                    </div>

                </div>


            </main>
        </section>


        <section class="contact-section narrow-wrapper padding-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="contact-form-wrapper">
                        <h3 class="modal-h">Зв’яжіться з нами</h3>
                        <div class="modal-header-subtext modal-contact-form">Якщо у вас виникли питання, введіть необхідні дані та опишіть своє питання</div>
                        <form class="contact-form" id="contact-form">
                            <input type="tel" placeholder="Телефон" title="Введіть номер телефону" name="phone"
                                   class="form-control form-item form-item-auth" required>
                            <input type="text" placeholder="Ім'я" title="Введіть пароль" name="name"
                                   class="form-control form-item form-item-auth" required>
                            <input type="password" placeholder="Тема" title="Введіть пароль" name="theme"
                                   class="form-control form-item form-item-auth" required>
                            <textarea class="form-control form-item-auth message-textarea" required name="message" rows="6" placeholder="Текст повідомлення"></textarea>
                            <button type="button" class="btn btn-green-text-white w-100 btn-send-contact-form">Надіслати</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-right-about-wrapper">
                    <div class="col-right-about-background">
                        <div class="col-right-about-background-wrapper">
                            <h3>Ми - це Tracktop</h3>
                            <div>
                                <p>
                                    Наша компанія є провідним постачальником вживаної сільськогосподарської техніки та запчастин на ринку. Ми маємо багаторічний досвід у цій галузі та спеціалізуємося на наданні надійних та ефективних рішень для сільськогосподарських потреб наших клієнтів.
                                </p>

                                <p>
                                    Наша місія полягає в тому, щоб забезпечувати сільськогосподарські господарства найвищою якістю обладнання та запчастинами для їхніх потреб. Ми працюємо наполегливо, щоб забезпечити надійний джерело уживаної сільськогосподарської техніки, яке дозволить нашим клієнтам максимізувати їхню продуктивність та прибутковість.
                                </p>
                                <p>
                                    Наші спеціалісти здійснюють ретельний технічний огляд кожного об'єкта, щоб гарантувати його відмінну якість та надійність. Ми прагнемо, щоб кожен клієнт був повністю задоволений здійсненою покупкою.
                                </p>

                                <p>
                                    Ми горді тим, що допомагаємо сільським господарствам вдосконалювати свою діяльність та забезпечувати високий рівень виробництва. Будучи вашими надійними партнерами, ми сприяємо вашому успіху та процвітанню в сільському господарстві.
                                </p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>


    </div>
    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

    <!--Bootsrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/assets/js/main.js"> </script>
    <script type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
    <script type="text/javascript" src="/assets/js/maskph_call.js"></script>

    <% include common/footer-ad-subscribe.ejs %>
    <% include common/footer.ejs %>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script>
        let images = document.querySelectorAll(".lazy");
        lazyload(images);
    </script>
</body>

</html>