<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <meta name="robots" content="none" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KS45HK4');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/less/all.less" rel="stylesheet/less" type="text/css"/>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="assets/libs/file-uploader/styles.imageuploader.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/photo-sortable/theme-default.css">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/multiple-select-js@latest/dist/css/multiple-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/multiple-select-js@latest/dist/js/multiple-select.js"></script>
    <!-- CSS Reset -->
    <link rel="stylesheet" href="assets/less/adminPanel/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="assets/less/adminPanel/milligram.min.css">

    <!-- Main Styles -->
<!--    <link href="/assets/libs/photo-sortable/draganddrop.css" rel="stylesheet">-->

    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/less/adminPanel/styles.css">
    <link rel="stylesheet" href="assets/less/adminPanel/admin-panelscreen.less">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<script>
    window.onload = checkUser;

    function checkUser(){
        if(localStorage.getItem("phone") == null || localStorage.getItem("phone") === "") {

        }
        else {
            console.log("log in")
        }

    };
</script>

<div id="notifications"></div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Виберіть тип видалення</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
<!--                <div class="modal-body">-->
<!--                    Modal body..-->
<!--                </div>-->

                <!-- Modal footer -->
                <div class="modal-footer modal-delete-footer">
                    <button id="modal-btn-delete" type="button" class="btn btn-danger"  >Видалити повністю</button>
                    <button id="modal-btn-sold" type="button" class="btn btn-primary" >Товар продано</button>
                </div>

            </div>
        </div>
    </div>


<div class="row row-admin">
    <div id="sidebar" class="column">
        <h5>Navigation</h5>
        <ul>
            <li><a id='technic_menu'>Техніка</a></li>
            <li><a id="equipments_menu">Запчастини</a></li>
            <li><a id="technics_without_category_menu">Техніка без категорії</a></li>

<!--            <li><a href="#widgets">Типи техніки</a></li>-->
<!--            <li><a href="#forms">Марки</a></li>-->
<!--            <li><a href="#alerts"> Моделі</a></li>-->
<!--            <li><a href="#buttons">Статистика</a></li>-->
        </ul>
    </div>
    <section id="main-content" class="column column-offset-20">

        <% if(currPage == "check") {%>
            ddsf
            <% }%>
        <% if(currPage == '1') {%>
            <% include common/admin-panel/technics.ejs %>
        <%}%>
        <% if(currPage == '2') {%>
            <% include common/admin-panel/equipments.ejs %>
        <%}%>
            <% if(currPage == '3') {%>
                <% include common/admin-panel/technics_without_category.ejs %>
            <%}%>

    </section>
</div>
<!-- jQuery JavaScript -->

<script>


</script>

<!--<script src="http://code.jquery.com/ui/1.8.17/jquery-ui.min.js"></script>-->
<!--<script src="/assets/libs/photo-sortable/amigo-sorter.min.js"></script>-->


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="/assets/libs/photo-sortable/amigo-sorter.js"></script>


<script src="//cdn.quilljs.com/1.0.0/quill.min.js"></script>
<script src="/assets/libs/editor/light/ckeditor.js"></script>


<!--Bootsrap JavaScript -->

<script src="/assets/libs/file-uploader/jquery.imageuploader.js"></script>



<script src="/assets/js/adminPanel.js"></script>
<!--<script src="../../node_modules/blueimp-file-upload/js/jquery.fileupload.js"></script>-->
</body>
</html>