<!DOCTYPE html>
<html>

<head lang="uk">
    <meta name="robots" content="noindex nofollow none" />
    <meta charset="UTF-8">
    <meta name="description" content="<%= description %>" />
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >
    <title><%= pageTitle %></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="/assets/less/basket-all.less" />
    <script src="https://cdn.jsdelivr.net/npm/less@4" ></script>

    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:locale" content="uk_UA">

</head>

<body>
    <% include common/header.ejs %>

    <div id="main">
        <!-- Create the toolbar container -->
        <section class="narrow-wrapper padding-wrapper add-top-padding">

            <header class="d-flex mb-3">
                <h1 class="header-main basket_header">Корзина</h1>
                <div class="label_main_count">0</div>
            </header>


            <div id="basket-empty">
                <img class="img-empty-basket" src="/assets/images/empty-basket.png">

                <span class="basket-label">Додайте товари в козину</span>
                <div class="to-main-page-from-basket">
                    <a href="/" type="button" class="btn btn-outline-green-text-white btn-to-main-page-from-basket">Продовжити покупки</a>
                </div>
            </div>
            <div id="basket-not-empty">
<!--                <span class="labelOrderDelete" role="button">Очистити</span>-->

                <div class="scroll-box">
                    <div id="basketColumn" class="">

                <div class="buyList">

                </div>

                        <div class="row no-gutters row-col-anonim-wrapper">
                            <div class="col-md-8 col-lg-8 col-order-details">
                                <h4 class="basket-title-details text-left basket-title-anonim">Купити як анонімний користувач</h4>
                                <form id="buy-anonim-form">
                                    <div class="row no-gutters">
                                        <div class="col-lg-6 auth-col">
                                            <input type="text" placeholder="Ваше ім'я" title="Введіть ім'я" name="name"
                                                   class="form-control form-item input-border-green" required>
                                        </div>
                                        <div class="col-lg-6 auth-col">
                                            <input type="text" placeholder="Телефон" title="Введіть номер телефону" name="phone"
                                                   class="form-control form-item input-border-green" required>
                                        </div>
                                    </div>

                                    <div>
                                        <h4 class="delivery-label">Деталі доставки</h4>
                                        <div class="row no-gutters">
                                            <div class="col-lg-6 auth-col">
                                                <input type="text" placeholder="Населений пункт" title="Введіть населений пункт"
                                                       name="location"
                                                       class="form-control form-item input-border-green" required>
                                            </div>
                                            <div class="col-lg-6 auth-col">
                                                <input type="number" placeholder="Відділення Нової пошти" title="Введіть номер відділення"
                                                       name="post_number"
                                                       class="form-control form-item input-border-green">
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                    <div class="logged-user-wrapper">
                                        <h3 class="already-have-acc-title">Вже зареєстровані?</h3>
                                        <button id="basket-logged-user-log-in" type="button" class="btn btn-green-text-white text-uppercase"
                                                data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Увійти</button>

                                    </div>
                            </div>
                        </div>

                        <div class="row no-gutters row-col-details-comment-wrapper">
                            <div class="col-md-8 col-lg-8 col-order-details">
                                <h4 class="basket-title-details">Деталі замовлення</h4>

                                <div class="order-detail-wrapper">
                                    <div class="order-row">
                                        <span class="sumLabel one-ad-info-label">Сума замовлення</span>
                                        <span class="amountLabel one-ad-info-value one-ad-info-value-regular"><b>0 грн</b></span>
                                    </div>

                                    <div class="order-row">
                                        <span class="sumLabel one-ad-info-label">Вартість доставки</span>
                                        <span class="one-ad-info-value one-ad-info-value-regular text-regular value-delivery
                                                     text-right text-end">За тарифами перевізника</span>
                                    </div>

                                </div>

                                <div class="summarize-order">
                                    <div class="order-row">
                                        <span class="sumLabel basket-title-details text-align-left">Загальна сума</span>
                                        <span class="amountLabel price text-right text-end">0 грн</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="">
                                    <div class="order-comment">
                                        <label for="description" class="comment-label">Коментар до замовлення</label>
                                        <textarea class="form-control message-textarea" id="description" name="description" rows="3" maxlength="200"
                                                  placeholder="Напишіть ваші побажання"></textarea>
                                    </div>

                                    <div class="buttonOrderDiv">
                                        <button type="button" class="btn btn-green-text-white w-100 text-uppercase orderButton">Замовити</button>
                                    </div>
                                </div>

                            </div>
                        </div>

            </div>
                </div>
            </div>

        </section>
    </div>
    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

    <!--Bootsrap JavaScript -->
    <script type="text/javascript" src="/assets/js/main.js"> </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
    <script defer type="text/javascript" src="/assets/js/maskph_call.js"></script>

    <% include common/footer.ejs %>

</body>

</html>