<!DOCTYPE html>
<html>

<head lang="uk">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <meta name="description" content="<%=description%>"/>
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154016757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        let phone = localStorage.getItem("phone");
        if (phone) {
            gtag('config', 'UA-154016757-1',{'user_id':phone});
            gtag('set', {'user_id': phone});
        }
        else {
            gtag('config', 'UA-154016757-1');
        }
        gtag('event', 'page_view', { 'send_to': 'UA-154016757-1' });
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >

<!--    <link rel="stylesheet" type="text/css" href="assets/less/all.css" />-->
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js" integrity="sha512-mE4RWRhILuNDWPx8sl5Q739XNbibSUZP9dEjdepzpYVw1kDco9ZZ5l/+KHAMffzXNHnmSWexMSN+OX137tNL5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '446478622679823');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=446478622679823&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://tracktop.com.ua/images/technics_placeholders/<%= photo_location %>"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:locale" content="uk_UA">
    <script data-ad-client="ca-pub-3700570185209972" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Hotjar Tracking Code for http://tracktop.com.ua -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2205765,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <% include common/header.ejs %>

    <div id="main">

        <div class="narrow-wrapper padding-wrapper">
            <div><h1 class="text-center pt-3 h1_header">Категорії</h1></div>

                <div class="technic-category-list technic-categories-page-list">
                        <div class="technic-category-wrapper technic-categories-page">
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/category_equipments" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Запчастини" data-src="/images/technics_placeholders/parts.png" alt="Купити запчастини до комбайнів, сівалок, тракторів. Запчастини до с/г техніки.">
                                    <div class="card-technic-footer">

                                        <h2 class="title">Запчастини</h2>

                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Комбайни" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Комбайни" data-src="/images/technics_placeholders/combine.png" alt="Купити Комбайни. Бу Комбайни Львівська область. Комбайн зернозбиральний">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Комбайни</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Трактори" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Трактори" data-src="/images/technics_placeholders/tractor.png" alt="Купити Трактори. Бу Трактори Львівська область. Трактор сільськогосподарський">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Трактори</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Сівалки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Сівалки" data-src="/images/technics_placeholders/seeder.png" alt="Купити Сівалки. Бу Сівалки Львівська область. Сівалки: зернова кінна, дискова, анкерна">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Сівалки</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Жатки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Жатки" data-src="/images/technics_placeholders/headers.png" alt="Купити Жатку кукурудзяну. Бу Жатки Львівська область. Жатка для збирання кукурудзи, зернова">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Жатки</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Фронтальні навантажувачі" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Фронтальні навантажувачі" data-src="/images/technics_placeholders/loaders.png" alt="Купити фронтальні навантажувачі на трактор. Фронтальні навантажувачі МТЗ, Т-40, Т-25">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Навантажувачі</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>


                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Плуги" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Плуги" data-src="/images/technics_placeholders/plug.png" alt="Купити Плуги. Бу Плуги Львівська область.">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Плуги</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Преси-підбирачі" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Преси-підбирачі" data-src="/images/technics_placeholders/press.png" alt="Купити Преси-підбирачі. Бу Преси-підбирачі Львівська область. Купити прес-підбирач рулонний, квадратний">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Преси-підбирачі</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Спецтехніка" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Спецтехніка" data-src="/images/technics_placeholders/spec.png" alt="Купити спецтехніку Україна. Фронтальний навантажувач, екскаватор, маніту та інше">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Спецтехніка</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Косарки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Косарки" data-src="/images/technics_placeholders/kosarky.png" alt="Купити косарку. Бу косарки та нові Львівська область. Косарка роторна">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Косарки</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics?type=Грабарки" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Грабарки" data-src="/images/technics_placeholders/grabarky.png" alt="Купити грабарку до тракора. Бу грабарки та нові Львівська область. Грабарка сонеяко та ">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Грабарки</h2>
                                        <div class="action">
                                    <span class="">
                                        Перейти до категорії
                                    </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="technic-category-card technic-categories-page-card">
                                <a href="/technics-without-category" class="types_main_page">
                                    <img class="lazy" src="https://via.placeholder.com/190x94?text=Інша техніка" data-src="/images/technics_placeholders/others.png" alt="Купити Жатку кукурудзяну. Бу Жатки Львівська область. Жатка для збирання кукурудзи, зернова">
                                    <div class="card-technic-footer">
                                        <h2 class="title">Інша техніка</h2>
                                        <div class="action">
                            <span class="">
                                Перейти до категорії
                            </span>
                                            <div class="button-action-category">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

        <div class="desc-bottom-main-page mt-5 desc-categories">
            <div class="row main-desc-wrapper no-gutters">
                <div class="col-12 col-lg-6 ">
                    <div class="d-flex col-left-desc-main">
                        <div class="item-site-description-line">
                            <svg width="60" height="63" viewBox="0 0 60 63" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                                <path d="M33.4286 16.1429H26.5714C25.9652 16.1429 25.3838 16.3837 24.9552 16.8124C24.5265 17.241 24.2857 17.8224 24.2857 18.4286V19.5715C24.2857 20.1777 24.5265 20.759 24.9552 21.1877C25.3838 21.6164 25.9652 21.8572 26.5714 21.8572H33.4286C34.0348 21.8572 34.6161 21.6164 35.0448 21.1877C35.4735 20.759 35.7143 20.1777 35.7143 19.5715V18.4286C35.7143 17.8224 35.4735 17.241 35.0448 16.8124C34.6161 16.3837 34.0348 16.1429 33.4286 16.1429Z" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M36.2857 18.4286H39.7143C40.3205 18.4286 40.9019 18.6694 41.3305 19.0981C41.7592 19.5267 42 20.1081 42 20.7143V43.5714C42 44.1777 41.7592 44.759 41.3305 45.1877C40.9019 45.6163 40.3205 45.8572 39.7143 45.8572H20.2857C19.6795 45.8572 19.0981 45.6163 18.6695 45.1877C18.2408 44.759 18 44.1777 18 43.5714V20.7143C18 20.1081 18.2408 19.5267 18.6695 19.0981C19.0981 18.6694 19.6795 18.4286 20.2857 18.4286H23.7143" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                                <g filter="url(#filter0_b_29_65)">
                                    <path d="M59.5 31.2018C59.5 48.1767 46.2741 61.9037 30 61.9037C13.7259 61.9037 0.5 48.1767 0.5 31.2018C0.5 14.227 13.7259 0.5 30 0.5C46.2741 0.5 59.5 14.227 59.5 31.2018Z" stroke="white"/>
                                </g>
                                <defs>
                                    <filter id="filter0_b_29_65" x="-30" y="-30" width="120" height="122.404" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15"/>
                                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_29_65"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_29_65" result="shape"/>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                        <div>
                            <h3 class="title title-desc">
                                Купуй вживану сільгосптехніку у "<b>TrackTop</b>"
                            </h3>
                            <p>
                                Придбання вживаної сільськогосподарської техніки може бути розумним та ефективним рішенням з кількох ключових причин:
                            <ul>
                                <li>Економія Витрат: Вживана техніка значно доступніша за ціною, порівняно з новою. Це дозволяє значно зменшити витрати при покупці та звільнити ресурси для інших потреб вашого сільськогосподарського підприємства.</li>
                                <li>Перевірена Надійність: Вживана техніка, яка витримала час та діяльність попередніх власників, може бути надійною та довговічною. Ви можете отримати обладнання, яке вже довело свою ефективність та витривалість у реальних умовах виробництва.</li>
                            </ul>
                            </p>
                            <p>
                                Зважаючи на ці переваги, важливо здійснити докладну перевірку та огляд вживаної техніки перед покупкою, переконавшись у її надійності та відповідності ваших потребам.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 right-col-desc-main-wrapper">
                    <div class="right-col-desc-main d-flex col-right-desc-main">
                        <div class="item-site-description-line">
                            <svg width="60" height="63" viewBox="0 0 60 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_34_339)">
                                    <path d="M30.8091 47.592C30.284 47.7946 29.7023 47.7946 29.1771 47.592C25.0789 46.0186 21.5543 43.2391 19.069 39.6205C16.5837 36.0019 15.2546 31.7145 15.2571 27.3246V20.5246C15.2571 19.9232 15.496 19.3465 15.9213 18.9213C16.3465 18.496 16.9232 18.2571 17.5246 18.2571H42.4617C43.0627 18.2577 43.6388 18.4969 44.0635 18.9221C44.4883 19.3472 44.7269 19.9236 44.7269 20.5246V27.3246C44.7294 31.7145 43.4003 36.0019 40.915 39.6205C38.4297 43.2391 34.9074 46.0186 30.8091 47.592Z" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M38.2143 26L29.0714 36.2857L24 31.2143" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <g filter="url(#filter0_b_34_339)">
                                    <path d="M59.5 31.2018C59.5 48.1767 46.2741 61.9037 30 61.9037C13.7259 61.9037 0.5 48.1767 0.5 31.2018C0.5 14.227 13.7259 0.5 30 0.5C46.2741 0.5 59.5 14.227 59.5 31.2018Z" stroke="white"/>
                                </g>
                                <defs>
                                    <filter id="filter0_b_34_339" x="-30" y="-30" width="120" height="122.404" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15"/>
                                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_34_339"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_34_339" result="shape"/>
                                    </filter>
                                    <clipPath id="clip0_34_339">
                                        <rect width="32" height="32" fill="white" transform="translate(14 17)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>

                        <div>
                            <h3 class="title title-desc">
                                Хочете купити сільгосптехніку з Європи?
                            </h3>

                            <p>
                                Компанія "TrackTop" займається постачанням сільськогосподарської техніки уже довгі роки.
                                Наш асортимент продукції включає в себе широкий спектр сільськогосподарської техніки, від сівалок та плугів до комбайнів та спеціалізованих машин для обробки ґрунту.
                            </p>

                            <p>
                                Наша місія полягає в тому, щоб сприяти удосконаленню сільськогосподарського сектору, надаючи сільськогосподарське устаткування, необхідне для досягнення успіху та сталого розвитку.
                                Ми прагнемо забезпечувати наших клієнтів найкращою технікою, яка спрощує їхню роботу та покращує врожайність.
                            </p>
                            <p>
                                У своїй діяльності ми керуємося цінностями відданості спільному успіху з нашими клієнтами та партнерами.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>



<script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/assets/js/technicsMain.js"> </script>
<script  src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script>
    let images = document.querySelectorAll(".lazy");
    lazyload(images);
</script>
        <script defer type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
        <script defer type="text/javascript" src="/assets/js/maskph_call.js"></script>
<script >

</script>
        <% include common/footer-ad-subscribe.ejs %>
        <% include common/footer.ejs %>
</body>

</html>