<!DOCTYPE html>
<html>

<head lang="en">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3700570185209972",
            enable_page_level_ads: true
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154016757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        let phone = localStorage.getItem("phone");
        if (phone) {
            gtag('config', 'UA-154016757-1',{'user_id':phone});
            gtag('set', {'user_id': phone});
        }
        else {
            gtag('config', 'UA-154016757-1');
        }
        gtag('event', 'page_view', { 'send_to': 'UA-154016757-1', 'user_id' : phone || ''});
    </script>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="WTsPikkSktRNvY6TqAearGzU2N3_ze-ZykpPpf41YA8" />
    <meta name="description" content="Сг техніка бу. Сільськогосподарська техніка : комбайни, трактори, сівалки та інше. Купуй сільгосптехніку в Львівській області від TrackTop! Дзвоніть ☎ (067)-646-22-44" />
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >
    <title><%= pageTitle %></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<!--    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <!--style for text-->
<!--    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">-->
    <!--font awesome-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KS45HK4');</script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '446478622679823');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=446478622679823&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <% include common/header.ejs %>

    <% include common/basket.ejs %>

    <% include common/left_panel.ejs %>
<div style="overflow: hidden; height: 1px;">
    <h1><span>МАГАЗИН СІЛЬСЬКОГОСПОДАРСЬКОЇ ТЕХНІКИ TRACKTOP</span></h1>
</div>
    <div id="main">
        <div class="typesOfTechnic">

        </div>
    </div>

<div style="overflow: hidden; height: 1px">
    Компанія "TrackTop" займається продажем сільськогосподарської техніки та запчастин частин до сг техніки.
    <i>Хочете купити сільгосптехніку з Європи?</i><br>
    Якщо вам потрібно купити комбайн, сівалку, трактор, прес-підбирач, плуг чи жниварку кукурудзяну з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
    або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
    найбільш відповідну для вас с/г техніку. Покупка сільськогосподарської техніки та запчастин у «TrackTop» вигідний вибір з можливим подальшим співробітництвом.
    Наша бу сг техніка з Європи буде служити вам довгі роки, адже вона вся пройшла перевірку якості.
    У разі поломки ви можете у будь-який момент звернутись до нас, оскільки у нас присутній великий асортимент запасних частин до сільгосптехніки.

</div>

<script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

    <!--Bootsrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"> </script>
    <script type="text/javascript" src="assets/js/jcookieph_call.js"></script>
    <script type="text/javascript" src="../../Frontend/src/basket.js"></script>
    <script type="text/javascript" src="assets/js/maskph_call.js"></script>
<% include common/footer.ejs %>
</body>

</html>