<!DOCTYPE html>
<html>

<head lang="uk">
    <meta name="robots" content="noindex nofollow none" />
    <meta charset="UTF-8">
    <meta name="description" content="Усі Покупки" />
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >
    <title>Усі Замовлення</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <!-- LESS основний файл -->
    <link rel="stylesheet" type="text/css" href="assets/less/all.css" />

</head>

<body>
<div class="wrapper">

    <% include common/header.ejs %>
    <% include common/left_panel.ejs %>

    <div id="main">
        <!-- Create the toolbar container -->
        <div class="wrapper-main-page">

            <h1 class="h1_main">Усі замовлення</h1>

            <div id="basket-empty">
                <span>У Вас ще немає замовлень</span>
            </div>
            <div id="basket-not-empty">

            <div id="basketColumn" class="sidenav secondColumn">

<!--                <div class="orderLabel">-->
<!--                    <span class="labelOrder"><b>Замовлення</b></span>-->
<!--                    <span class="label label-warning amountOfBoughtPizz">0</span>-->
<!--                    <span class="labelOrderDelete" role="button">Очистити</span>-->
<!--                </div>-->

                <div class="container orders">

                </div>

                <div class="endOrderLabel">
                    <span class="sumLabel"><b>Сума замовлення</b></span>
                    <span class="amountLabel"><b>0 грн</b></span>
                    <div class="buttonOrderDiv">
                        <button type="button" class="btn btn-warning btn-lg btn-block orderButton">Замовити</button>
                    </div>
                    <div id="logged-user-err">
                    <div class="basket-logged-user-err">Замовлення можуть здійснювати лише зареєстровані користувачі</div>
                    <div id="basket-logged-user-register" class="basket-logged-user-err "><i>Зареєструватись</i></div>

                        <div id="basket-logged-user-log-in" class="basket-logged-user-err "><i>Увійти</i></div>

                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>


<script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

    <!--Bootsrap JavaScript -->
    <script async type="text/javascript" src="/assets/js/main.js"> </script>
<script>

</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
    <script defer type="text/javascript" src="/assets/js/maskph_call.js"></script>
</div>
</body>

</html>