<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <meta name="description" content="<%=description%>"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154016757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        let phone = localStorage.getItem("phone");
        if (phone) {
            gtag('config', 'UA-154016757-1',{'user_id':phone});
            gtag('set', {'user_id': phone});
        }
        else {
            gtag('config', 'UA-154016757-1');
        }
        gtag('event', 'page_view', { 'send_to': 'UA-154016757-1' });
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    
    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <!--style for text-->
<!--    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">-->
    <!--font awesome-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '446478622679823');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=446478622679823&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <% include common/header.ejs %>
    <% include common/basket.ejs %>
    <% include common/left_panel.ejs %>

    <div id="main">
        <%include breadcrumbs.ejs%>
        <div class='type_header'>
            <h1 class="h1_header">

            <% if(types){ %>
            <%= types %>
            <% } else{ %>
            <% if(mark) {%>
            Вся техніка марки <%= mark %>
            <% } else {%>
            Запчастини
            <% } %>
            <% } %>
            </h1>

        </div>

        <% include common/searchBar.ejs %>
        <div class="nothing_found">Нічого не знайдено. Напишіть повідомлення, щоб замовити товар!!!</div>

        <% if(!mark && !types) {%>
        <div class="equipments">
            <% } else { %>
            <div class="technics">
                <%}%>
    </div>
            <div id="description_technic_equipment" style="height: 100px; border: #4c78ab"></div>
            <p>
                <% if(types == "Комбайни"){ %>
                    <i>Комбайни</i>
                    <br>
                    <br>
                    Наша компанія пропонує вам широкий вибір зернозбиральних комбайнів. Також за бажанням клієнта ми можемо привезти комбайн під замовлення.
                    Представлені в асортименті комбайни виготовляються передовими агро-брендами:
                    <ul>
                    <li>John Deere (Джон Дір)</li>
                    <li>Massey Ferguson (Масей Фергюсон)</li>
                    <li>Claas (Клаас)</li>
                    </ul>

                    Ми гарантуємо: <ul>
                    <li>технічну справність техніки</li>
                    <li>  довговічність експлуатації</li>
                    <li> ефективність</li>
                    <li>   вибір запастин до техніки.</li>
                    </ul>

            <p>
            <i>Хочете купити комбайн зернозбиральний з Європи?</i><br>
            Якщо вам потрібно купити комбайн з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
            або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
            найбільш відповідний для вас комбайн. Покупка зернозбиральних комбайнів у «TrackTop» вигідний вибір з можливим подальшим співробітництвом.
            Наші комбайни з Європи будуть служити вам довгі роки, адже всі вони пройшли перевірку якості.
            У разі поломки ви можете у будь-який момент звернутись до нас, оскільки у нас присутній великий асортимент запасних частин до комбайнів.

            </p>

            <p>
                <i>Як правильно вибрати комбайн?</i><br>
                Для того щоб купити комбайн зернозбиральний вам потрібно добре розбиратись в тому, які переваги може мати ця техніка та які особливості необхідно враховувати при покупці комбайнів. Погодьтесь, що жаль витратити багато грошей та засобів, але купити комбайн не того класу, який вам потрібен. При виборі слід визначитись чи ви будете купляти новий комбайн чи комбайн зернозбиральний бу. Покупка бу комбайна допоможе зекономити багато коштів та купити комбайн з характеристиками близькими до заводських. Проте купівля нового комбайна - це інвестиція в майбутнє, оскільки ви значно скоротите витрати на обслуговування.
                Особливості зернозбиральних комбайнів, які варто врахувати при покупці:
                <ul>
                <li> Кількість зерна, яке може обробляти комбайн (пропускна здатність комбайна). Це основна
                характеристика для визначення класу комбайна.</li>
                <li>Також треба розуміти, якою буде реальна вартість комбайна. Якщо він в поганому стані,
                то кожна поломка може обійтись вам дуже дорого в пік сезону.</li>
                <li>Не забудьте дізнатись про наявність запасних частин до комбайна. Оскільки пошук запчастин
                до комбайна може стати проблемою. Рекомендується вибирати комбайни, до яких є великий
                вибір запчастин і їх легко купити, в іншому випадку ви можете стикнутись і з тим, що не зможете знайти запасних частин до комбайна, або вони будуть дуже дорогі.</li>
            </ul>
            </p>
                <% } else { %>
                <% if(types=="Плуги"){  %>
                Плуги від "TrackTop"
                Наші плуги, як нові так і бу, володіють високими технічними характеристиками і найвищими стандатами
                якості.
                Пропонуємо плуги для різних тракторів(до мзт, білоруса тощо).

                Наші плуги найкращі. Поєднання найновітніших сплавів і магія форм, гарантує вам відмінний результат.
                Чого ти чекаєш? Не будь плугом - купуй плуг.
                <% } else { %>
                <% } if(types=="Преси-підбирачі"){ %>
                Преси підбирачі у TrackTop
                Наші Преси, як нові так і бу, володіють високими технічними характеристиками і найвищими стандатами
                якості.
                Пропонуємо преси різних типів.

                Хороші та надійні преси підбирачі є у кожного поважаючого себе фермера. Вам пощастило,
                тому що саме у нас можна такі придбати. Якість і надійність це те, як коротко можна охаректеризувати
                наші преси підбирачі.
                        <p>
                            <i>Хочете купити прес-підбирач з Європи?</i> <br>
                            Якщо вам потрібно купити прес-підбирач з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
                            або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
                            найбільш відповідний для вас прес. Купуючи прес-підбирач, ви можете нам довіряти!
                            Наші преси проходять  перевірку перед продажем, тому прес-підбирач з Європи будуть служити вам довго. Потрібна якісна техніка? Це до нас!!
                        </p>
                <% } else { %>
                <% } if(types=="Сівалки"){ %>
                    <i>Сівалки</i> <br>
                        Усі фермери стараються автоматизувати ручну працю та збільшити врожай. Щоб зібрати хороший врожай потрібно приділити багато уваги посіву. Засіяти вручну поле досить складна задача, яка може зайняти у вас не одну годину навіть якщо у вас поле у декілька соток. Використовуючи сівалку до трактора ви засієте поле швидше та ефективніше. Використовуючи зернову сівалку, в кожну лунку буде потрапляти саме необхідна кількість насіння. Рослинам буде легше прорости, а ви зекономите на насінні. Якість врожаю і його кількість збільшиться. До того ж сівалки спеціальні справляються навіть з маленьким насінням, яке дуже складно сіяти вручну. Саме тому покупка сівалки - вигідне вкладення грошей.
                        Хороша сівалка буде служити вам багато років. Якщо ж у вас не вистачає коштів, щоб купити нову сівалку, варто звернути увагу на покупку сівалки бу. Вживані сівалки найкращий варіант для невеликих фермерів.

                        <p>
                            <i>Як вибрати сівалку?</i><br>
                        За призначенням сівалки бувають 3 видів:
                            <ul>
                            <li>універсальна. Універсальні сівалки можуть використовуються при посіві більшості насіневих культур.</li>
                            <li>спеціалізована. Спеціалізовані сівалки використовуються для посіву лише однієї групи рослин. Наприклад, існують
                                овочеві сівалки, кукурудзяні, бурякові, зернові, соняшникові, бобові, часникові, овочеві.</li>
                            <li>комбінована, тобто висівання та внесення добрив одночасно.</li>

                        </ul>
                        Найкращу якісь посіву надає сівалка точного висіву, яка рівномірно розподіляє посівний матеріал на
                        задану глибину.
                        </p>
                        <p>
                        <i>Хочете купити сівалку з Європи?</i><br>
                        Якщо вам потрібно купити сівалку з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
                        або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
                        найбільш відповідну для вас сівалку. Ми продаємо як нові сівалки так і бу. Пропонуємо усі види сівалок (бурякова, кукурудзяна, зернова тощо). Покупка сівалки у «TrackTop» вигідний вибір з можливим подальшим співробітництвом.
                        Наші зернові сівалки з Європи будуть служити вам довгі роки, адже всі вони пройшли перевірку якості.
                        У разі поломки ви можете у будь-який момент звернутись до нас, оскільки у нас присутні запасні частнини до сівалок.
                        </p>
                <% } else { %>
                <% } if(types=="Трактори"){ %>
                        Трактор - техніка, яка повинна бути в будь-якому господарстві. Без нього ні землю не обробиш, ні корму для худоби не заготовиш.
                        Сьогодні на ринку представлено так багато різних тракторів, що зробити вибір буває складно.
                        Довіра покупців лежить на боці перевірених брендів таких як <i>Джон Дір, Массей Фергюсон, Клаас, Fendt, Deutz-Fahr</i>.

                        Невеликі господарства, які хочуть купити спецтехніку, досить часто не можуть собі дозволити купити новий трактор.
                        Вихід із цієї ситуації - купити трактор бу вітчизняного виробництва.

                        <p>
                        Як вибрати б/у трактор правильно, щоб потім не шкодувати про покупку?
                        <br>
                        <i>Основні положення, які треба враховувати при покупці вживаного трактора:</i> <br>
                            <ul>
                        <li>
                            Двигун трактора не має мати протікань машинної олії або води. Також перевірте з'єднувальну трубку
                            на витік газів.
                        </li>
                            <li>
                                Гальмівна система має бути справною. При натисканні вона має діяти плавно, без ривків.
                            </li>
                                <li>
                                    Огляньте шини на пошкодження та перевірте у них тиск.
                                </li>
                            <li>При зсуві керма вліво чи вправо кермо має йти легко, без прикладання
                                значних зусиль. Якщо це не так, тоді у трактора неправильно поставлені
                                передні колеса.
                            </li>
                        </ul>
                        </p>
                        <p>
                        <i>Хочете купити трактор з Європи?</i> <br>
                        Якщо вам потрібно купити трактор з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
                        або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
                        найбільш відповідний для вас трактор. Купуючи трактор, ви можете нам довіряти!
                        Наші трактори проходять детальну перевірку перед продажем, тому трактори з Європи будуть служити вам довго. Потрібен якісний трактор? Це до нас!!
                        </p>

                        <p>
                        Популярні моделі тракторів, які ми постачаємо:
                            <ul>
                            <li>Трактор <i>МТЗ 50</i> - колісний трактор, призначений для виконання широкого спектру
                                робіт. Трактор випускався із 1962 по 1985 рік. Потужність двигуна 55 к.с.
                            </li>
                            <li>Трактор <i>МТЗ 80</i>. Беларус випускався із 1979 року. Трактор розроблений шляхом модернізації "пятдесятки"; задньопривідний та має невелику кабіну.
                                Потужність двигуна - 80 к.с. Модифікація даного трактора MTZ-80.1 випускається заводом і досі.</li>
                            <li>Трактор <i>МТЗ 82</i>. Проектування MTZ 82 проходило одночасно із "вісімдесяткою", тому вигляд і характеристики
                                у тракторів дуже схожі. Основна відмінність - дана модель є повнопривідною. Тому МТЗ 82, або як його називають в народі Беларус, має велику прохідність,
                                більше сил та може використовуватись в більш складних погодних умовах. Існує багато модифікацій даного трактора, популярні з них МТЗ 82.1 та 82.У
                            </li>
                            <li>Трактор <i>Т 25 (Владимирец)</i> - компактний, невеликий та меневренний трактор,але при цьому
                                достатньо потужний, щоб працювати з навісним обладнанням. Потужність двигуна трактора Владимирец
                                складає 26 к.с. Випускався із із 1966 по 1973 рік. Зараз випускається нова модифікована модель - трактор Т-25А.
                            </li>
                            <li>Трактор <i>Т 40</i>. Випускався із 1961 по 1995 рік. За весь період було випущено більше як 1 мільйон тракторів.
                                Трактор Т-40 - універсальна модель, яку можна використовувати для прибирання снігу; разом з
                                косилкою, ковшом фронтального навантажувача та іншим навісним обладнанням. Трактор і в наш час
                                використовується в комунальній сфері. Існує декілька модифікцій цього трактора.
                                Т-40 та Т-40М мають задній привід, а трактори Т-40АМ, Т-40А, Т-40АП, Т-40АНМ, Т-40АН, Т-50А - повнопривідні.
                            </li>
                            <li>Також ми постачаємо трактори марки <i>John Deere </i>(Джон Дір трактори) та <i>Massey Ferguson</i>.
                                Трактори, які виробляють ці фірми відомі довговічністю експлуатації та широким модельним рядом, які задовольнять будь-які потреби фермерів.</li>
                        </ul>
                        </p>
                    <% } else { %>
                    <% } if(types=="Жатки"){ %>
            <p><i>Жатки</i></p>
                        Для якісного збору врожаю потрібна надійна і точна техніка, яка забезпечує високу продуктивніcть при незначних втратах врожаю. У випадку з кукурудзою важливо ще і зрізати максимальну довжину стебла, щоб відсіяти сміття. Для того щоб це забезпечити більшість виробників крім універсальних жаток також вироблять жатки спеціалізовані: жатки для збору кукурудзи, сої, соняшника. Попит на спеціалізовані жатки зростає з кожним днем. Який вибір зробити: купити жатку кукурудзяну( для сої, соняшника) чи універсальну залежить лише від вас. Невеликі господарства стараються купити універсальні жатки. Великі господарства стараються купити жниварки, спеціально зроблені для збирання конкретної рослини: кукурудзи, сої, соняшника.
                        Конструкція кукурудзяної жатки доволі проста. Вона складається з капота,який виконує такі функції: направляє стебла на ріжучий механізм; захищає ріжучий механізм від стебел; підчіплює і зрізає впалі стебла, транспортує їх до шнека і подає механізму комбайна, Ріжучий механізм складається з двох звисаючих ланцюгів із 6 ножами на кожному. Вони подають стебло до комбайна, а після них зрізають валики з ножами протирізу. Загалом принцип роботи такий же, як і у ножиць.
            <p>Популярні виробники кукурудзяних жаток:</p>
            <ul>
                <li>Geringhoff (Герінгоф). Компанія є одним з лідерів виробництва жаток для кукурудзи. Вона випускає як складні так і нескладні жниварки з різною кількістю рядів.Також вона пропонує декілька варіантів ріжучого механізму. Популярні моделі даної марки: RD 500, RD 600F. </li>
                <li>Capello(Капелло). Жатки Capello відомі як економічні та ефективні. Обшивка жатки виконана зі спеціального пластика, який мінімізує прилипання кукурудзи. Найбільш популярні є жатки Capello 6 рядні. Наприклад модель QUASAR.</li>
                <li>Oros(Орос). Жатки марки Орос мають декілька особливостей: вони повністю сумісні з усіма марками комбайнів; конструкція кукурудзяної жатки дозволяє регулювати міжрядковий діапазон.</li>
                <li>Fantini(Фантіні). Жатки Fantini славляться якістю збірки. Кожен жатка проходить детальну перевірку та тестування.</li>
                <li>John Deere(Джон Дір). Жатки Джон Дір є одні з найдовговічніших та відомі високою продуктивністю. Конструкція жатки перешкоджає попаданню залишків рослин у комбайн.</li>
                <li>Claas(Клаас). Жатки Claas є довговічними та ефективними. Також вони надають найменші втрати порівняно з іншими виробниками.</li>
            </ul>
                    <% } %>
                    <% } %>
                </p>
            </div>


        </div>
        <!-- jQuery JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

        <!--Bootsrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="assets/js/technicsMain.js"> </script>
        <% include common/footer.ejs %>
</body>

</html>