<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <meta name="description" content="<%=description%>"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154016757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        let phone = localStorage.getItem("phone");
        if (phone) {
            gtag('config', 'UA-154016757-1',{'user_id':phone});
            gtag('set', {'user_id': phone});
        }
        else {
            gtag('config', 'UA-154016757-1');
        }
        gtag('event', 'page_view', { 'send_to': 'UA-154016757-1' });
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    
    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <!--style for text-->
<!--    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">-->
    <!--font awesome-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '446478622679823');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=446478622679823&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <% include common/header.ejs %>
    <% include common/basket.ejs %>
    <% include common/left_panel.ejs %>

    <div id="main">
        <%include breadcrumbs.ejs%>
        <div class='type_header'>
            <h1 class="h1_header">

            <% if(types){ %>
            <%= types %>
            <% } else{ %>
            <% if(mark) {%>
            Вся техніка марки <%= mark %>
            <% } else {%>
            Запчастини
            <% } %>
            <% } %>
            </h1>

        </div>

        <% include common/searchBar.ejs %>
        <div class="nothing_found">Нічого не знайдено. Напишіть повідомлення, щоб замовити товар!!!</div>

        <% if(!mark && !types) {%>
        <div class="equipments">
            <% } else { %>
            <div class="technics">
                <%}%>
    </div>

            <div class="descr_bottom" style="margin-top: 150px">
            <p>
                <% if(types == "Комбайни"){ %>
                    <i>Комбайни</i>
                    <br>
                    <br>
                    Наша компанія пропонує вам широкий вибір зернозбиральних комбайнів. Також за бажанням клієнта ми можемо привезти комбайн під замовлення.
                    Представлені в асортименті комбайни виготовляються передовими агро-брендами:
                    <ul>
                    <li>John Deere (Джон Дір)</li>
                    <li>Massey Ferguson (Масей Фергюсон)</li>
                    <li>Claas (Клаас)</li>
                    </ul>

                    Ми гарантуємо: <ul>
                    <li>технічну справність техніки</li>
                    <li>  довговічність експлуатації</li>
                    <li> ефективність</li>
                    <li>   вибір запастин до техніки.</li>
                    </ul>

            <p>
            <i>Хочете купити комбайн зернозбиральний з Європи?</i><br>
            Якщо вам потрібно купити комбайн з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
            або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
            найбільш відповідний для вас комбайн. Покупка зернозбиральних комбайнів у «TrackTop» вигідний вибір з можливим подальшим співробітництвом.
            Наші комбайни з Європи будуть служити вам довгі роки, адже всі вони пройшли перевірку якості.
            У разі поломки ви можете у будь-який момент звернутись до нас, оскільки у нас присутній великий асортимент запасних частин до комбайнів.

            </p>

            <p>
                <i>Як правильно вибрати комбайн?</i><br>
                Для того щоб купити комбайн зернозбиральний вам потрібно добре розбиратись в тому, які переваги може мати ця техніка та які особливості необхідно враховувати при покупці комбайнів. Погодьтесь, що жаль витратити багато грошей та засобів, але купити комбайн не того класу, який вам потрібен. При виборі слід визначитись чи ви будете купляти новий комбайн чи комбайн зернозбиральний бу. Покупка бу комбайна допоможе зекономити багато коштів та купити комбайн з характеристиками близькими до заводських. Проте купівля нового комбайна - це інвестиція в майбутнє, оскільки ви значно скоротите витрати на обслуговування.
                Особливості зернозбиральних комбайнів, які варто врахувати при покупці:
                <ul>
                <li> Кількість зерна, яке може обробляти комбайн (пропускна здатність комбайна). Це основна
                характеристика для визначення класу комбайна.</li>
                <li>Також треба розуміти, якою буде реальна вартість комбайна. Якщо він в поганому стані,
                то кожна поломка може обійтись вам дуже дорого в пік сезону.</li>
                <li>Не забудьте дізнатись про наявність запасних частин до комбайна. Оскільки пошук запчастин
                до комбайна може стати проблемою. Рекомендується вибирати комбайни, до яких є великий
                вибір запчастин і їх легко купити, в іншому випадку ви можете стикнутись і з тим, що не зможете знайти запасних частин до комбайна, або вони будуть дуже дорогі.</li>
            </ul>
            </p>

                <% } else { %>
                <% if(types=="Плуги"){  %>
                        Неможливо ефективно обробити землю без використання плуга. Залізний плуг використовується вже тисячоліттями. Спочатку люди самі тягнули плуг, потім почали використовувати худобу: коней, волів. Проте з розвитком автоматизації майже вся земля обробляється тракторами. Тому якщо у вас є трактор, то ми
                        рекомендуємо купити плуг до трактора.

                        Для приготування грунту перед посівом його потрібно розпушити, оскільки в такий грунт найкраще проникають мінерали.
                        Використовуючи плуг до трактора ви швидко розрихлете землю, зробите її мякшою та підготуєте її до подальшого посіву. Оранка зменшить кількість бур'янів, оскільки плуг пошкодить однолітні бур'яни, які ще не встигли достатньо закріпитись.

                        <p><i>Який плуг купити?</i><br>
                        Вибір плуга залежить від землі, яку ви обробляєте та від потужності трактора. Якщо у вас невелике господарство, або глиниста земля, то рекомендуємо купити навісний плуг до трактора. Для
                        невеликих тракторів найкраще підходять двохкорпусні плуги та 3 корпусні плуги.
                        Якщо ж у вас велике господарство ми рекомендуємо купити оборотний плуг, оскільки він найкраще підходить для виконання цього завдання. Оборотний плуг має подвійні леміші. Нижні леміші роблять глибоку оранку, а леміші, які знаходяться зверху перевертають грунт та розпушують землю. Після проходу за допомогою гідравліки плуг перевертається, тому ви зекономите час і паливо на оранку. Використовуючи оборотний плуг, ви отримаєте однорідно зорану землю та одночасно підвищите родючість землі.
                        </p>
                        Класифікація плугів:
                        <ul>
                            <li>За типом робочих частин бувають лемішні плуги та дискові плуги.</li>
                            <li>За видом тяги розрізняють тракторні причіпні, напівнавісні і навісні плуги та кінні плуги.</li>
                            <li>За кількістю робочих частин : однокорпусні, двокорпусні, трикорпусні та багатокорпусні плуги.</li>
                        </ul>
                        <p>
                            <i>Хочете купити плуг оборотний з Європи?</i><br>
                        Якщо вам потрібно купити плуг бу з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном, або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
                        найбільш відповідний для вас плуг. Пропонуємо плуги бу та нові плуги до різних тракторів : мтз беларуса 50, 80, 82 ; Т25, Т40, тощо. Купуючи плуг, ви можете нам довіряти! Наші плуги бу проходять детальну перевірку перед продажем, тому плуги з Європи будуть служити вам довго. Потрібен якісний оборотний плуг? Це до нас!!
                        </p>
                        <p>
                            <i>Популярні марки плугів:</i>
                        <ul>
                            <li>Lemken (Лемкен). Плуги Лемкен бувають оборотні навісні та оборотні напівнавісні. Якщо у вас в гоподарстві трактор МТЗ 80 або 82 та ви думаєте купити оборотний плуг, то зверніть увагу на 3 оборотний плуг Lemken. Модельний ряд представлений 2 корпусним, 3 корпусним, 4 корпусним, 5 корпусним та 6 корпусним плугом Lemken.
                            </li>
                            <li>Kongskilde. Плуги Kongskilde мають унікальну конструкцію, зроблені із міцного сплаву, тому їх можна застосовувати на будь-яких видах грунту.
                            </li>
                            <li>Kverneland. Плуги Kverneland напівнавісні з центральним колесом. Метал, із якого виготовлений плуг проходить термічну обробку, що робить плуг дуже міцним. Користуючись плугом Квернеланд
                                ви можете регулювати ширину оброблюваної землі від 30 до 45см. Популярні моделі: Квернеланд EM/LM, Квернеланд PN/RN, Квернеланд PW/RW.
                            </li>
                            <li>RabeWerk (Рабеверк). Плуги Rabewerk відомі своєю якістю та довговічністю.</li>

                            <li>Bomet (Бомет) . Польські плуги Bomet використовуються для середньої та глибокої оранки. Bomet виробляє плуги з різної висотою стійки та шириною лемішів. У нас ви можете купити плуги Bomet (Бомет) однокорпусні, 2-корпусні, 3-корпусні, 4-корпусні у Львівській області.
                            </li>
                        </ul>
                        </p>
                    <% } else { %>
                <% } if(types=="Преси-підбирачі"){ %>
                        <i>Прес-підбирач тюковий</i>
                        <p>
                        Якщо ви займаєтесь заготівлею сіна та хочете щоб зібрана трава зберігалась довго та не втрачала свою поживність,
                            тоді вам не обійтись без преса-підбирача. Тюковщик підбирає раніше заготовлені валки сіна чи соломи та формує з них тюки різної форми.
                        Підбирання трави, пресування та вихід тюка відбувається за декілька секунд.
                        Використовуючи прес-підбирач ви значно зменшите витрати та час на заготівлю сіна чи соломи.
                        </p>

                        <p>
                        Преси підбирачі за типом пресування поділяються на дві категорії:
                        <ul>
                        <li>преси рулонні - скручують суху масу в циліндр. Тюки в рулонних пресів зазвичай об'ємні та важкі.
                            Тому можете не переживати, що хтось краде рулонний тюк із вашого поля. Якщо спростити, то принцип роботи рулонного
                            преса досить простий. Під впливом ременів сіно скручується в рулон і коли досягається
                        потрібний розмір рулон обмотується шпагатом.
                        </li>
                            <li>
                        преси тюкові. Якщо вам потрібні невеликі прямокутні тюки, які можна було б акуратно заховати у приміщенні
                        від дощу, тоді можете сміливо купляти прес-підбирач тюковий. Середня вага тюка 20 кг.
                            </li>
                        </ul>
                        Також бувають роторні преси-підбирачі, у яких трава укладається однаково, тому вони більш якісні.
                        При заготівлі корму для худоби варто звернути увагу на преси-підбирачі з ротором і ножами, оскільки вони
                        відомі тим, що сіно укладене дуже щільно та воно однакової довжини. Це досягається за допомогою того, що прес використовує ножі.

                        При виборі слід визначитись чи ви будете купляти новий прес для чи прес-підбирач бу. Покупка бу преса допоможе зекономити
                        багато коштів та купити прес-підбирач з характеристиками близькими до заводських. Проте купівля нового преса - це інвестиція в майбутнє, оскільки ви значно скоротите витрати на обслуговування.
                        </p>
                        <p>
                        <i>Хочете купити прес-підбирач з Європи?</i>
                            <p>
                        У компанії «TrackTop» ви можете купити преси-підбирач для заготовки сіна, соломи та трави за доступною ціною. На нашому сайті ви зможете знайти преси-підбирачі рулонні та тюкові таких марок:
                            <a href="/technics?mark=John%20Deere">John Deere</a>, <a href="/technics?mark=Claas">Claas</a>, <a href="/technics?mark=Sipma">Sipma</a> та <a href="/technics?mark=Welger">Welger</a>. Фірми Джон Дір та Клаас мають надзвичайно великий вибір пресів для різних господарств - як великих так і малих. Преси Claas Rollant дуже часто використовують при заготівлі сіна. Якщо у вас невелике господарство рекомендуємо звернути увагу на преси Sipma (Сіпма) та Welger
                        (Велгер). Прес Sipma 224 та Welger AP 41 користуються неабиякою популярності в Україні.
                        </p>
                        <p>
                        Якщо вам потрібно купити прес-підбирач з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
                            або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати найбільш відповідний для вас прес.
                            Купуючи прес-підбирач, ви можете нам довіряти! Наші преси проходять перевірку перед продажем,
                            тому прес-підбирач з Європи буде служити вам довго. Потрібна якісна техніка? Це до нас!!!
                        </p>


                    <% } else { %>
                <% } if(types=="Сівалки"){ %>
                    <i>Сівалки</i> <br>
                        Усі фермери стараються автоматизувати ручну працю та збільшити врожай. Щоб зібрати хороший врожай потрібно приділити багато уваги посіву. Засіяти вручну поле досить складна задача, яка може зайняти у вас не одну годину навіть якщо у вас поле у декілька соток. Використовуючи сівалку до трактора ви засієте поле швидше та ефективніше. Використовуючи зернову сівалку, в кожну лунку буде потрапляти саме необхідна кількість насіння. Рослинам буде легше прорости, а ви зекономите на насінні. Якість врожаю і його кількість збільшиться. До того ж сівалки спеціальні справляються навіть з маленьким насінням, яке дуже складно сіяти вручну. Саме тому покупка сівалки - вигідне вкладення грошей.
                        Хороша сівалка буде служити вам багато років. Якщо ж у вас не вистачає коштів, щоб купити нову сівалку, варто звернути увагу на покупку сівалки бу. Вживані сівалки найкращий варіант для невеликих фермерів.

                        <p>
                            <i>Як вибрати сівалку?</i><br>
                        За призначенням сівалки бувають 3 видів:
                            <ul>
                            <li>універсальна. Універсальні сівалки можуть використовуються при посіві більшості насіневих культур.</li>
                            <li>спеціалізована. Спеціалізовані сівалки використовуються для посіву лише однієї групи рослин. Наприклад, існують
                                овочеві сівалки, кукурудзяні, бурякові, зернові, соняшникові, бобові, часникові, овочеві.</li>
                            <li>комбінована, тобто висівання та внесення добрив одночасно.</li>

                        </ul>
                        Найкращу якісь посіву надає сівалка точного висіву, яка рівномірно розподіляє посівний матеріал на
                        задану глибину.
                        </p>
                        <p>
                        <i>Хочете купити сівалку з Європи?</i><br>
                        Якщо вам потрібно купити сівалку з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
                        або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
                        найбільш відповідну для вас сівалку. Ми продаємо як нові сівалки так і бу. Пропонуємо усі види сівалок (бурякова, кукурудзяна, зернова тощо). Покупка сівалки у «TrackTop» вигідний вибір з можливим подальшим співробітництвом.
                        Наші зернові сівалки з Європи будуть служити вам довгі роки, адже всі вони пройшли перевірку якості.
                        У разі поломки ви можете у будь-який момент звернутись до нас, оскільки у нас присутні запасні частнини до сівалок.
                        </p>
                <% } else { %>
                <% } if(types=="Трактори"){ %>
                        Трактор - техніка, яка повинна бути в будь-якому господарстві. Без нього ні землю не обробиш, ні корму для худоби не заготовиш.
                        Сьогодні на ринку представлено так багато різних тракторів, що зробити вибір буває складно.
                        Довіра покупців лежить на боці перевірених брендів таких як <i>Джон Дір, Массей Фергюсон, Клаас, Fendt, Deutz-Fahr</i>.

                        Невеликі господарства, які хочуть купити спецтехніку, досить часто не можуть собі дозволити купити новий трактор.
                        Вихід із цієї ситуації - купити трактор бу вітчизняного виробництва.

                        <p>
                        Як вибрати б/у трактор правильно, щоб потім не шкодувати про покупку?
                        <br>
                        <i>Основні положення, які треба враховувати при покупці вживаного трактора:</i> <br>
                            <ul>
                        <li>
                            Двигун трактора не має мати протікань машинної олії або води. Також перевірте з'єднувальну трубку
                            на витік газів.
                        </li>
                            <li>
                                Гальмівна система має бути справною. При натисканні вона має діяти плавно, без ривків.
                            </li>
                                <li>
                                    Огляньте шини на пошкодження та перевірте у них тиск.
                                </li>
                            <li>При зсуві керма вліво чи вправо кермо має йти легко, без прикладання
                                значних зусиль. Якщо це не так, тоді у трактора неправильно поставлені
                                передні колеса.
                            </li>
                        </ul>
                        </p>
                        <p>
                        <i>Хочете купити трактор з Європи?</i> <br>
                        Якщо вам потрібно купити трактор з Польщі, Німеччини чи іншої країни Європи, звертайтесь до представників нашої фірми за телефоном,
                        або ви можете відвідати наш офіс у Львівській області. Ми допоможемо обрати
                        найбільш відповідний для вас трактор. Купуючи трактор, ви можете нам довіряти!
                        Наші трактори проходять детальну перевірку перед продажем, тому трактори з Європи будуть служити вам довго. Потрібен якісний трактор? Це до нас!!
                        </p>

                        <p>
                        Популярні моделі тракторів, які ми постачаємо:
                            <ul>
                            <li>Трактор <i>МТЗ 50</i> - колісний трактор, призначений для виконання широкого спектру
                                робіт. Трактор випускався із 1962 по 1985 рік. Потужність двигуна 55 к.с.
                            </li>
                            <li>Трактор <i>МТЗ 80</i>. Беларус випускався із 1979 року. Трактор розроблений шляхом модернізації "пятдесятки"; задньопривідний та має невелику кабіну.
                                Потужність двигуна - 80 к.с. Модифікація даного трактора MTZ-80.1 випускається заводом і досі.</li>
                            <li>Трактор <i>МТЗ 82</i>. Проектування MTZ 82 проходило одночасно із "вісімдесяткою", тому вигляд і характеристики
                                у тракторів дуже схожі. Основна відмінність - дана модель є повнопривідною. Тому МТЗ 82, або як його називають в народі Беларус, має велику прохідність,
                                більше сил та може використовуватись в більш складних погодних умовах. Існує багато модифікацій даного трактора, популярні з них МТЗ 82.1 та 82.У
                            </li>
                            <li>Трактор <i>Т 25 (Владимирец)</i> - компактний, невеликий та меневренний трактор,але при цьому
                                достатньо потужний, щоб працювати з навісним обладнанням. Потужність двигуна трактора Владимирец
                                складає 26 к.с. Випускався із із 1966 по 1973 рік. Зараз випускається нова модифікована модель - трактор Т-25А.
                            </li>
                            <li>Трактор <i>Т 40</i>. Випускався із 1961 по 1995 рік. За весь період було випущено більше як 1 мільйон тракторів.
                                Трактор Т-40 - універсальна модель, яку можна використовувати для прибирання снігу; разом з
                                косилкою, ковшом фронтального навантажувача та іншим навісним обладнанням. Трактор і в наш час
                                використовується в комунальній сфері. Існує декілька модифікцій цього трактора.
                                Т-40 та Т-40М мають задній привід, а трактори Т-40АМ, Т-40А, Т-40АП, Т-40АНМ, Т-40АН, Т-50А - повнопривідні.
                            </li>
                            <li>Також ми постачаємо трактори марки <i>John Deere </i>(Джон Дір трактори) та <i>Massey Ferguson</i>.
                                Трактори, які виробляють ці фірми відомі довговічністю експлуатації та широким модельним рядом, які задовольнять будь-які потреби фермерів.</li>
                        </ul>
                        </p>
                    <% } else { %>
                    <% } if(types=="Жатки"){ %>
            <p><i>Жатки</i></p>
                        Для якісного збору врожаю потрібна надійна і точна техніка, яка забезпечує високу продуктивніcть при незначних втратах врожаю. У випадку з кукурудзою важливо ще і зрізати максимальну довжину стебла, щоб відсіяти сміття. Для того щоб це забезпечити більшість виробників крім універсальних жаток також вироблять жатки спеціалізовані: жатки для збору кукурудзи, сої, соняшника. Попит на спеціалізовані жатки зростає з кожним днем. Який вибір зробити: купити жатку кукурудзяну( для сої, соняшника) чи універсальну залежить лише від вас. Невеликі господарства стараються купити універсальні жатки. Великі господарства стараються купити жниварки, спеціально зроблені для збирання конкретної рослини: кукурудзи, сої, соняшника.
                        Конструкція кукурудзяної жатки доволі проста. Вона складається з капота,який виконує такі функції: направляє стебла на ріжучий механізм; захищає ріжучий механізм від стебел; підчіплює і зрізає впалі стебла, транспортує їх до шнека і подає механізму комбайна, Ріжучий механізм складається з двох звисаючих ланцюгів із 6 ножами на кожному. Вони подають стебло до комбайна, а після них зрізають валики з ножами протирізу. Загалом принцип роботи такий же, як і у ножиць.
            <p>Популярні виробники кукурудзяних жаток:</p>
            <ul>
                <li>Geringhoff (Герінгоф). Компанія є одним з лідерів виробництва жаток для кукурудзи. Вона випускає як складні так і нескладні жниварки з різною кількістю рядів.Також вона пропонує декілька варіантів ріжучого механізму. Популярні моделі даної марки: RD 500, RD 600F. </li>
                <li>Capello(Капелло). Жатки Capello відомі як економічні та ефективні. Обшивка жатки виконана зі спеціального пластика, який мінімізує прилипання кукурудзи. Найбільш популярні є жатки Capello 6 рядні. Наприклад модель QUASAR.</li>
                <li>Oros(Орос). Жатки марки Орос мають декілька особливостей: вони повністю сумісні з усіма марками комбайнів; конструкція кукурудзяної жатки дозволяє регулювати міжрядковий діапазон.</li>
                <li>Fantini(Фантіні). Жатки Fantini славляться якістю збірки. Кожен жатка проходить детальну перевірку та тестування.</li>
                <li>John Deere(Джон Дір). Жатки Джон Дір є одні з найдовговічніших та відомі високою продуктивністю. Конструкція жатки перешкоджає попаданню залишків рослин у комбайн.</li>
                <li>Claas(Клаас). Жатки Claas є довговічними та ефективними. Також вони надають найменші втрати порівняно з іншими виробниками.</li>
            </ul>
                        </p>
                    <% } %>
                    <% } %>


            </div>
            </div>


        </div>
        <!-- jQuery JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

        <!--Bootsrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="assets/js/technicsMain.js"> </script>
        <% include common/footer.ejs %>
</body>

</html>