<!DOCTYPE html>
<html>

<head lang="uk">
    <meta name="robots" content="none, noindex, nofollow">
    <meta charset="UTF-8">
    <link rel="shortcut icon"  type="images/x-icon" href="/assets/images/favicon.ico" >
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >

    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js" integrity="sha512-mE4RWRhILuNDWPx8sl5Q739XNbibSUZP9dEjdepzpYVw1kDco9ZZ5l/+KHAMffzXNHnmSWexMSN+OX137tNL5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- LESS основний файл -->
<!--    <link rel="stylesheet" type="text/css" href="/assets/less/all.css" />-->

</head>

<body>
<div class="wrapper">

    <% include common/header.ejs %>

    <div id="main">
        <section class="narrow-wrapper padding-wrapper">
            <div class="row no-gutters thank-you-wrapper">
                <div class="col-12 col-md-7 col-lg-7">
                    <h2  class="title title-thank-you">Дякуємо!</h2>
                    <h3 class="subtitle-thank-you">Ваше замовлення прийнято</h3>
                    <div class="description-thank-you">Незабаром з вами зв’яжуться!</div>
                    <button class="to_catalog_btn btn-outline-green-text-white" onclick="document.location.href='/'">Продовжити покупки <i class="fa fa-angle-right"></i></button>

                </div>
                <div class="col-12 col-md-5 col-lg-5 ">
                    <img src="/assets/images/thank-you.png" class="img-thank-you mt-5 mt-md-0">
                </div>
            </div>
        </section>
    </div>


    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

    <!--Bootsrap JavaScript -->
    <script async type="text/javascript" src="/assets/js/main.js"> </script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="/assets/js/jcookieph_call.js"></script>
    <script defer type="text/javascript" src="/assets/js/maskph_call.js"></script>
    <% include common/footer.ejs %>
</div>
</body>

</html>