@mainColor: #ec890e;
@textMain:  #2F9321;
@textMainHovered: #A9CD53;
@textMuted: #D5E6CD;
@colorRed: #EC0000;
@textSubline: #89A831;
@ColorTopPanel: black;


@MaxWidth:1200px;
@heightTopPanel:66px;
@heightFooter: 180px;
@WidthRightPanel:330px;
@WidthLeftPanel:220px;
@heightTopBot: @heightTopPanel;
@heightBottom: @heightTopPanel*1.7;
@paddingWrapperPC:40px;
@paddingWrapperLaptop:24px;
@paddingWrapperMobile:16px;



body {
  --heightTopPanel:66px;
}