<div class="footer footer-main">
    <div class="footer-wrapper-background">
        <div class="narrow-wrapper">
            <div class="about-cart row footer-menu-main-wrapper">
                <span class="col-xs-12 col-md-4 col-lg-3 contacts-block">
                    <div class="footer-socials-logo">
                        <img id="logo" src="/assets/images/logo_footer.png" alt='TrackTop - агротехніка та запчастини'>
                        <h1 style="display: none">TrackTop</h1>
                        <h3 class="color-subline footer-subline">Агротехніка та запчастини</h3>
                        <div>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C13.7457 0 16.8657 3.12 16.8657 6.86428C16.8657 8.08714 16.4457 9.29286 15.8586 10.3843C15.2686 11.4814 14.4886 12.5043 13.7143 13.3757C13.0393 14.1338 12.3133 14.845 11.5415 15.5043C11.2894 15.7203 11.0292 15.9266 10.7615 16.1229C10.6711 16.1885 10.5782 16.2505 10.4829 16.3086C10.4038 16.3556 10.3206 16.3953 10.2343 16.4271C10.0432 16.4888 9.83563 16.4735 9.65574 16.3843C9.60776 16.3615 9.56103 16.3363 9.51574 16.3086C9.41986 16.2491 9.32645 16.1857 9.23574 16.1186C8.96841 15.9214 8.7087 15.7141 8.45717 15.4971C7.68618 14.8343 6.96073 14.1203 6.28574 13.36C5.51145 12.4857 4.73145 11.46 4.14288 10.3671C3.55574 9.27857 3.13431 8.07714 3.13431 6.86428C3.13431 3.12 6.25431 0 10 0ZM10 8.91428C9.45633 8.91428 8.9349 8.6983 8.55045 8.31385C8.16601 7.9294 7.95002 7.40798 7.95002 6.86428C7.95002 6.32059 8.16601 5.79917 8.55045 5.41472C8.9349 5.03027 9.45633 4.81429 10 4.81429C10.5437 4.81429 11.0651 5.03027 11.4496 5.41472C11.834 5.79917 12.05 6.32059 12.05 6.86428C12.05 7.40798 11.834 7.9294 11.4496 8.31385C11.0651 8.6983 10.5437 8.91428 10 8.91428ZM14.4286 14.5086C14.6915 14.2129 14.9543 13.9029 15.2143 13.58H17.1329C17.4186 13.58 17.6757 13.7514 17.79 14.0129L19.9286 19.0057C19.9752 19.1144 19.9941 19.233 19.9835 19.3508C19.973 19.4686 19.9334 19.5819 19.8682 19.6806C19.8031 19.7793 19.7145 19.8603 19.6103 19.9163C19.5062 19.9723 19.3897 20.0015 19.2715 20.0014H0.728593C0.610332 20.0015 0.493896 19.9723 0.389733 19.9163C0.285571 19.8603 0.196942 19.7793 0.1318 19.6806C0.0666592 19.5819 0.0270443 19.4686 0.016511 19.3508C0.00597767 19.233 0.0248556 19.1144 0.0714504 19.0057L2.21145 14.0129C2.26657 13.8843 2.35822 13.7747 2.47504 13.6978C2.59186 13.6208 2.72871 13.5799 2.86859 13.58H4.80431C5.05717 13.8943 5.31431 14.1986 5.57145 14.4886C6.51717 15.5543 7.47145 16.4543 8.21431 17.09C8.58574 17.4086 8.91002 17.6643 9.15859 17.8443C9.28145 17.9343 9.39431 18.01 9.49002 18.0686C9.57317 18.1245 9.66416 18.1679 9.76002 18.1971C9.95512 18.2613 10.1676 18.2459 10.3515 18.1543C10.4086 18.1286 10.4615 18.0971 10.5086 18.07C10.6216 18.0008 10.7317 17.9269 10.8386 17.8486C11.0872 17.6686 11.41 17.4143 11.7829 17.0986C12.5257 16.4671 13.4829 15.5714 14.4272 14.5086H14.4286Z" fill="white"/>
                            </svg>
                            Корчин, Львівська область
                        </div>
                        <div>
                            <span class="m-left-5">
                                <a href="https://t.me/TrackTopLviv" class="social-items fab fa-telegram" target="_blank" onclick="fbq('trackCustom', 'clickOpenTelegramFooter');"></a>
                            </span>
                            <span class="m-left-5">
                                <a href="https://invite.viber.com/?g2=AQB3zGXsatWLG0pH6Rf7Wb33IAjhGy7MAoMRBEByk1jDUKliZohw3FnC32CTQZKK" class="social-items fab fa-viber" target="_blank" onclick="fbq('trackCustom', 'clickOpenViberFooter');"></a>
                            </span>
                            <span class="m-left-5">
                                <a href="https://www.facebook.com/tracktopShop" class="social-items fab fa-facebook m-left-5" target="_blank" onclick="fbq('trackCustom', 'clickOpenFacebookFooter');"></a>
                            </span>
                            <span class="m-left-5">
                                <a href="https://www.instagram.com/tracktop_shop/" class="social-items fab fa-instagram m-left-5" target="_blank" onclick="fbq('trackCustom', 'clickOpenInstagramFooter');"></a>
                            </span>
                            <span class="m-left-5">
                                <a href="https://www.tiktok.com/@agrotechnika1.0" class="social-items fab fa-tiktok m-left-5" target="_blank" onclick="fbq('trackCustom', 'clickOpenInstagram');"></a>
                            </span>
                            </div>
                    </div>
                </span>

                <span class="col col-md-3 col-lg-3 footer-menu-wrapper contacts-block">
                    <div class="footer-menu">
                        <a href="/category_equipments" class="footer-menu-item">Запчастини</a>
                        <a href="/categories" class="footer-menu-item">Техніка</a>
                        <a href="/marks" class="footer-menu-item">Марки</a>
                        <a href="/category_equipments" class="footer-menu-item">Про нас</a>
                    </div>
                </span>


                <span class="col-4 col-sm-5 col-md-3 col-lg-2 col-xl-3 contacts-block">
                    <h3>Категорії</h3>
                    <div class="footer-menu-categories">
                        <a href="/technics?type=Комбайни" >Комбайни</a>
                        <a href="/technics?type=Трактори" >Трактори</a>
                        <a href="/technics?type=Сівалки" >Сівалки</a>
                        <a href="/technics?type=Жатки" >Жатки</a>
                        <a href="/categories" >Інша техніка</a>
                    </div>
                </span>
                <span class="col-8 col-sm-7 col-md-5 col-lg-4 col-xl-3 contacts-block">
                    <h3>Зв’яжіться з нами</h3>
                    <div class="footer-menu-contacts">
                        <div>
                            <span>
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_313_911)">
                                    <path d="M18.942 15.977C17.6322 14.8567 16.3029 14.1781 15.0091 15.2967L14.2365 15.9728C13.6713 16.4636 12.6204 18.7566 8.55716 14.0825C4.49478 9.41425 6.91224 8.6874 7.47832 8.20087L8.25509 7.52394C9.54209 6.40279 9.05639 4.9914 8.12816 3.53856L7.56801 2.65856C6.63555 1.2091 5.62016 0.257173 4.32978 1.37663L3.63255 1.98587C3.06224 2.40133 1.46809 3.75179 1.08139 6.31733C0.61601 9.39563 2.08409 12.9207 5.44755 16.7885C8.80678 20.6579 12.0958 22.6016 15.2113 22.5677C17.8005 22.5398 19.3642 21.1504 19.8533 20.6452L20.5531 20.0352C21.8401 18.9166 21.0405 17.7776 19.7298 16.6548L18.942 15.977Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_313_911">
                                    <rect width="22" height="22" fill="white" transform="translate(0 0.724121)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </span>
                            <a href="tel:+380676462244">(067) 646-22-44</a>
                        </div>
                        <div>
                            <span>
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_313_911)">
                                    <path d="M18.942 15.977C17.6322 14.8567 16.3029 14.1781 15.0091 15.2967L14.2365 15.9728C13.6713 16.4636 12.6204 18.7566 8.55716 14.0825C4.49478 9.41425 6.91224 8.6874 7.47832 8.20087L8.25509 7.52394C9.54209 6.40279 9.05639 4.9914 8.12816 3.53856L7.56801 2.65856C6.63555 1.2091 5.62016 0.257173 4.32978 1.37663L3.63255 1.98587C3.06224 2.40133 1.46809 3.75179 1.08139 6.31733C0.61601 9.39563 2.08409 12.9207 5.44755 16.7885C8.80678 20.6579 12.0958 22.6016 15.2113 22.5677C17.8005 22.5398 19.3642 21.1504 19.8533 20.6452L20.5531 20.0352C21.8401 18.9166 21.0405 17.7776 19.7298 16.6548L18.942 15.977Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_313_911">
                                    <rect width="22" height="22" fill="white" transform="translate(0 0.724121)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </span>
                            <a href="tel:+380978378772">(097) 837-87-72</a>
                        </div>
                        <div>
                            <span>
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_313_911)">
                                    <path d="M18.942 15.977C17.6322 14.8567 16.3029 14.1781 15.0091 15.2967L14.2365 15.9728C13.6713 16.4636 12.6204 18.7566 8.55716 14.0825C4.49478 9.41425 6.91224 8.6874 7.47832 8.20087L8.25509 7.52394C9.54209 6.40279 9.05639 4.9914 8.12816 3.53856L7.56801 2.65856C6.63555 1.2091 5.62016 0.257173 4.32978 1.37663L3.63255 1.98587C3.06224 2.40133 1.46809 3.75179 1.08139 6.31733C0.61601 9.39563 2.08409 12.9207 5.44755 16.7885C8.80678 20.6579 12.0958 22.6016 15.2113 22.5677C17.8005 22.5398 19.3642 21.1504 19.8533 20.6452L20.5531 20.0352C21.8401 18.9166 21.0405 17.7776 19.7298 16.6548L18.942 15.977Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_313_911">
                                    <rect width="22" height="22" fill="white" transform="translate(0 0.724121)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </span>

                            <a href="tel:+380680163226">(068) 016-32-26</a>
                        </div>
                        <div class="mt-2">
                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_313_1064)">
                                <path d="M19.5025 0.220703H2.49753C1.11846 0.220703 0 1.33916 0 2.71824V15.2819C0 16.661 1.11846 17.7794 2.49753 17.7794H19.5025C20.8815 17.7794 22 16.661 22 15.2819V2.71824C22 1.33916 20.8815 0.220703 19.5025 0.220703ZM19.6653 4.58595L11.6732 10.9384C11.4778 11.1013 11.2389 11.1773 11 11.1773C10.7611 11.1773 10.5222 11.1013 10.3268 10.9384L2.32379 4.58595C1.85686 4.21675 1.78085 3.53265 2.15005 3.05486C2.53011 2.58793 3.21422 2.51192 3.68115 2.88112L11 8.70145L18.3189 2.88112C18.7858 2.51192 19.4699 2.58793 19.8391 3.05486C20.2192 3.53265 20.1323 4.21675 19.6653 4.58595Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_313_1064">
                                <rect width="22" height="17.5587" fill="white" transform="translate(0 0.220703)"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <a href="mailto:tracktop@tracktop.com.ua">tracktop@tracktop.com.ua</a>
                        </div>
                    </div>
                </span>

            </div>
            <div class="footer-hr-line"></div>
            <div class=" row developer-footer">
                <span class="col-lg-12 col-xs-12 contacts-block">
                    <div>Copyright © 2023</div>
                    <h3>Розробка сайту та просування
                        <a href="https://8-dev.com/" target="_blank"  class="m-left-5">
                        AIT DEV
                    </a></h3>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="pop_up_bl" class="float_btn_r" style="display: none">
    <a id="setcookieph" class="close" href="#" title="Закрити" onclick="document.getElementById('minbotph').style.display='block';document.getElementById('pop_up_bl').style.display='none'; fbq('trackCustom', 'closeCallButton'); return false;"><i class="fa fa-close"></i></a>
    <a id="stbotph" href="#" onclick="console.log('2');document.getElementById('stbotph').style.display='none';document.getElementById('slibotph').style.display='block';document.getElementById('pop_up_bl').classList.remove('float_btn_r'); fbq('trackCustom', 'clickCallButton');return false;"><div class="circlephone" style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle" style="transform-origin: center;"><div class="img-circleblock" style="transform-origin: center;"></div></div></a>
    <a id="slibotph" href="#" onclick="document.getElementById('slibotph').style.display='none';document.getElementById('stbotph').style.display='block';document.getElementById('pop_up_bl').classList.remove('float_btn_r');return false;" style="display: none;"><div class="circlephone" style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle2" style="transform-origin: center;"><div class="img-circleblock2" style="transform-origin: center;"></div></div></a>
    <div id="content1" style="display: none;">
        <div id="mssgresbox">
            <form onsubmit="return false;" id="formMain" name="">
<!--                <label for="tele_phone_call" id="labtelcal">Приклад: +380979361952 </label>-->
                <input id="tele_phone_call" type="tel" name="tele_phone_call" onkeyup="if(this.value.length >= 7) document.getElementById('butcall').disabled = false; else document.getElementById('butcall').disabled = true;" placeholder="Ваш номер"  autocomplete="off"/>
                <input id="butcall" type="button" class="sendNumberButton" value="" onclick="" disabled/>
                <button type="button" class="call_me_btn sendNumberButton">Передзвоніть мені</button>
            </form>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        document.getElementById("pop_up_bl").style.display = "block";
    });

</script>
<a id="minbotph"  href="#" onclick="document.getElementById('pop_up_bl').style.display='block';document.getElementById('minbotph').style.display='none'; fbq('trackCustom', 'clickCallButton2');return false;"><div class="call_button"></div></a>