<div class="footer footer-sub" style="">
    <div class="newsLetterContainer"><div class="title_subsc">Будьте першими!</div><div class="subTitle_subs">Підпишіться, щоб залишатися в курсі усіх новин!</div>
        <div class="newsLetterInputContainer">

            <form method="POST" id="ajax_form" action="" style="display: none;">
                <input type="email" id="email-ajax" name="email">
            </form>

            <form class=""><div class="formInlineContainer">
                    <div class="formItem formEmailInputInlineButton">
                        <div class=""><label for="email"></label>
                            <div class="input-email"><div class="">
                                    <input type="email" id="email" name="email" placeholder="Email Address" value="" data-automation="email-address-input">
                                    <div class="highlight"></div></div></div>
                            <div id="error-msg" data-automation="email-address-input-inline-error-msg">Введіть дійсну е-пошту</div></div></div>

                    <button id="subscribeEmail"  class="button_sub secondary_sub formButtonInlineButton regular_sub" type="button" data-automation="subscribe-newsletter-button">
                        <span class="content_sub" tabindex="-1">Підписатись</span></button>
                </div></form>
        </div>
    </div>
</div>


<div class="footer">

    <div class="about-cart row">
        <span class="col-lg-4 col-xs-12 contacts-block">
            <h4>TrackTop</h4>
            <a href="http://tracktop.com.ua/about" style="display: block" class="m-left-5">
                Про нас
            </a>
            <span class="m-left-5">
                <a href="https://t.me/TrackTopLviv" class="social-items fab fa-telegram" target="_blank" onclick="fbq('trackCustom', 'clickOpenTelegramFooter');"></a>
            </span>
            <span class="m-left-5">
                <a href="https://invite.viber.com/?g2=AQB3zGXsatWLG0pH6Rf7Wb33IAjhGy7MAoMRBEByk1jDUKliZohw3FnC32CTQZKK" class="social-items fab fa-viber" target="_blank" onclick="fbq('trackCustom', 'clickOpenViberFooter');"></a>
            </span>
            <span class="m-left-5">
                <a href="https://www.facebook.com/tracktopShop" class="social-items fab fa-facebook m-left-5" target="_blank" onclick="fbq('trackCustom', 'clickOpenFacebookFooter');"></a>
            </span>
            <span class="m-left-5">
                <a href="https://www.instagram.com/tracktop_shop/" class="social-items fab fa-instagram m-left-5" target="_blank" onclick="fbq('trackCustom', 'clickOpenInstagramFooter');"></a>
            </span>
        </span>
        <span class="col-lg-4 col-xs-12 contacts-block">
            <h4>Контакти</h4>
            <div>
                <div>
                    <a href="mailto:tracktop@tracktop.com.ua">tracktop@tracktop.com.ua</a>
                </div>
                <div>
                    <a href="mailto:mike@tracktop.com.ua">mike@tracktop.com.ua</a>
                </div>
            </div>
            <div>
                <span>
                   Korchyn, Ukraine
                </span>
            </div>
        </span>
        <span class="col-lg-4 col-xs-12 contacts-block">
            <h4>Телефони</h4>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                    (067) 646-22-44
                </span>
            </div>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                     (067) 922-33-97
                </span>
            </div>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                   (097) 837-87-72
                </span>
            </div>
        </span>
    </div>

</div>

<div id="pop_up_bl" class="float_btn_r">
    <a id="setcookieph" class="close" href="#" title="Закрити" onclick="document.getElementById('minbotph').style.display='block';document.getElementById('pop_up_bl').style.display='none'; fbq('trackCustom', 'closeCallButton'); return false;"></a>
    <a id="stbotph" href="#" onclick="console.log('2');document.getElementById('stbotph').style.display='none';document.getElementById('slibotph').style.display='block';document.getElementById('pop_up_bl').classList.remove('float_btn_r'); fbq('trackCustom', 'clickCallButton');return false;"><div class="circlephone" style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle" style="transform-origin: center;"><div class="img-circleblock" style="transform-origin: center;"></div></div></a>
    <a id="slibotph" href="#" onclick="document.getElementById('slibotph').style.display='none';document.getElementById('stbotph').style.display='block';document.getElementById('pop_up_bl').classList.remove('float_btn_r');return false;" style="display: none;"><div class="circlephone" style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle2" style="transform-origin: center;"><div class="img-circleblock2" style="transform-origin: center;"></div></div></a>
    <div id="content1" style="display: none;">
        <div id="mssgresbox">
            <form method="post" action="" id="formMain" name="">
                <label for="tele_phone_call" id="labtelcal">Приклад: +380979361952 </label>
                <input id="tele_phone_call" type="tel" name="tele_phone_call" onkeyup="if(this.value.length >= 7) document.getElementById('butcall').disabled = false; else document.getElementById('butcall').disabled = true;" placeholder="Ваш номер"  autocomplete="off"/>
                <input id="butcall" type="button" class="sendNumberButton" value="" onclick=""  disabled/>
            </form>
        </div>
    </div>

</div>
<a id="minbotph"  href="#" onclick="document.getElementById('pop_up_bl').style.display='block';document.getElementById('minbotph').style.display='none'; fbq('trackCustom', 'clickCallButton2');return false;"><div class="call_button"></div></a>