<div class="footer footer-sub wrapper" style="">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ads-media-1 -->
    <ins class="adsbygoogle adsgooglefooter"
         style="display:block;"
         data-ad-client="ca-pub-3700570185209972"
         data-ad-slot="4284006589"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="row no-gutters align-items-center subscribe_email narrow-wrapper padding-wrapper">
        <div class="col-12 col-md-7 col-lg-6">
            <div>
                <h3 class="title_subsc">Сповістити, коли з`явиться нова техніка?</h3>
                <span class="subscribe_email_subtitle mt-3">Підпишіться, щоб отримувати сповіщення!</span>
                <div class="newsLetterInputContainer mt-5">

                    <form class="formInlineContainer" onsubmit="return;">
                         <div class="input-email">
                                    <input type="email" id="email_subscribe_footer" name="email" placeholder="Email" value="" data-automation="email-address-input">
                            </div>
                            <button id="" class="button_sub btnSubscribeEmail" type="button" data-automation="subscribe-newsletter-button">
                                Підписатись
                            </button>
                    </form>
                    <div id="error-msg" data-automation="email-address-input-inline-error-msg">Виникла помилка.</div>

                </div>

            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 text-center">
            <img class="img-subscribe-footer" src="/assets/images/subscribe-new-technic.webp">
        </div>

    </div>
</div>
