<div id="messageModal" class="modal" data-productId="" data-productTitle="">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container message-modal-container">
                <div data-dismiss="modal" onclick="document.getElementById('messageModal').style.display='none'"
                     class="btn-close-modal" title="Закрити">
                    <span aria-hidden="true"><i class="fa fa-close" aria-hidden="true"></i></span>
                </div>
            <h2 class="modal-h">
                Нове повідомлення
            </h2>
            <div class="modal-header-subtext">
                Введіть необхідні дані та опишіть своє питання
            </div>

            <form class="message-form">

            <input id="username_messageForm" type="text" placeholder="Ваше ім'я" name="name"
                   class="form-control form-item form-item-auth" required>
            <input id="phone_messageForm" type="text" placeholder="Номер телефону" name="phone"
                   class="form-control form-item form-item-auth"  required>
            <div class="form-group">
                <textarea id="message" class="form-control form-item-auth message-textarea" required name="message" rows="6" placeholder="Текст повідомлення"></textarea>
            </div>
<!--            <div class="message-btn-container">-->
<!--            </div>-->
            </form>
            <button id="messageModal" type="button" class="btn btn-green-text-white w-100" onclick="sendMessage_My(1);">Надіслати</button>


        </div>
    </div>
</div>