<div class='search'>
    <div class="form-group has-search">
        <input id="searchEquipments" onkeyup="filterSelectionEquipments()" type="text" class="form-control" placeholder="Пошук"value="">
    </div>
</div>

