<div id="subscribeModal" class="modal">

    <form class="modal-content modal-content-subscribe-modal" >
        <div class="header-message">
            <div class="left" >
                <span>Не пропустіть нові поставки!</span>
            </div>
            <div class="right">
                <div data-dismiss="modal" onclick="document.getElementById('subscribeModal').style.display='none'"
                     class="fa fa-remove popup-close link" title="Закрити"></div>
            </div>
        </div>

        <form>
        <div class="container">
            <div style="font-size: 18px">
                Слідкуйте за оновленнями:
            </div>
            <div class="social-items-modal">
            <div class="one-social-item-modal" onclick="window.open('https://t.me/TrackTopLviv','_blank');fbq('trackCustom', 'clickOpenTelegramModal');">
            <span class="m-left-5">
                <a href="https://t.me/TrackTopLviv" class="social-items fab fa-telegram"></a> Telegram
            </span>
            </div>
            <div class="one-social-item-modal" onclick="window.open('https://invite.viber.com/?g2=AQB3zGXsatWLG0pH6Rf7Wb33IAjhGy7MAoMRBEByk1jDUKliZohw3FnC32CTQZKK','_blank');fbq('trackCustom', 'clickOpenViberModal');">
            <span class="m-left-5">
                <a href="https://invite.viber.com/?g2=AQB3zGXsatWLG0pH6Rf7Wb33IAjhGy7MAoMRBEByk1jDUKliZohw3FnC32CTQZKK" class="social-items fab fa-viber"></a>
                Viber
            </span>
            </div>
            <div class="one-social-item-modal" onclick="window.open('https://www.facebook.com/tracktopShop','_blank');fbq('trackCustom', 'clickOpenFacebookModal');">
            <span class="m-left-5">
                <a href="https://www.facebook.com/tracktopShop" class="social-items fab fa-facebook m-left-5"></a>
                Facebook
            </span>
            </div>
            <div class="one-social-item-modal" onclick="window.open('https://www.instagram.com/tracktop_shop/','_blank');fbq('trackCustom', 'clickOpenInstagramModal');">
            <span class="m-left-5">
                <a href="https://www.instagram.com/tracktop_shop/" class="social-items fab fa-instagram m-left-5"></a>
                Instagram
            </span>
            </div>

            </div>

<!--            <div class="newsLetterInputContainer newsLetterInputContainer-modal">-->

<!--&lt;!&ndash;                <form method="POST" id="ajax_form-modal" action="" style="display: none;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="email" id="email-ajax-modal" name="email">&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->

<!--                <form class="form-modal-subscribe"><div class="formInlineContainer">-->
<!--                        <div class="formItem formEmailInputInlineButton">-->
<!--                            <div class=""><label for="email"></label>-->
<!--                                <div class="input-email"><div class="">-->
<!--                                        <input type="email" id="email1" name="email" placeholder="Email Address" value="" data-automation="email-address-input">-->
<!--                                        <div class="highlight"></div></div></div>-->
<!--                                <div id="error-msg-modal" data-automation="email-address-input-inline-error-msg">Введіть дійсну е-пошту</div></div></div>-->

<!--                        <button   class="button_sub secondary_sub formButtonInlineButton regular_sub formButtonInlineButton-subscribe-modal" type="button" data-automation="subscribe-newsletter-button">-->
<!--                            <span class="content_sub" tabindex="-1">Гаразд</span></button>-->
<!--                    </div></form>-->
<!--            </div>-->

        </div>
        </form>

    </form>

</div>