<div id="subscribeModal" class="modal">

    <form class="modal-content modal-content-subscribe-modal" >
        <div class="header-message">
            <div class="left" >
                <span>Не пропустіть нові поставки!</span>
            </div>
            <div class="right">
                <div data-dismiss="modal" onclick="document.getElementById('subscribeModal').style.display='none'"
                     class="fa fa-remove popup-close link" title="Закрити"></div>
            </div>
        </div>

        <form>
        <div class="container">
            <div style="font-size: 18px">
                Слідкуйте за оновленнями:
            </div>
            <div class="social-items-modal">
            <div class="one-social-item-modal" onclick="window.open('https://t.me/TrackTopLviv','_blank');">
            <span class="m-left-5">
                <a href="https://t.me/TrackTopLviv" class="social-items fab fa-telegram"></a> Telegram
            </span>
            </div>
            <div class="one-social-item-modal" onclick="window.open('https://invite.viber.com/?g2=AQB3zGXsatWLG0pH6Rf7Wb33IAjhGy7MAoMRBEByk1jDUKliZohw3FnC32CTQZKK','_blank');">
            <span class="m-left-5">
                <a href="https://invite.viber.com/?g2=AQB3zGXsatWLG0pH6Rf7Wb33IAjhGy7MAoMRBEByk1jDUKliZohw3FnC32CTQZKK" class="social-items fab fa-viber"></a>
                Viber
            </span>
            </div>
            <div class="one-social-item-modal" onclick="window.open('https://www.facebook.com/tracktopShop','_blank');">
            <span class="m-left-5">
                <a href="https://www.facebook.com/tracktopShop" class="social-items fab fa-facebook m-left-5"></a>
                Facebook
            </span>
            </div>
            <div class="one-social-item-modal" onclick="window.open('https://www.instagram.com/tracktop_shop/','_blank');">
            <span class="m-left-5">
                <a href="https://www.instagram.com/tracktop_shop/" class="social-items fab fa-instagram m-left-5"></a>
                Instagram
            </span>
            </div>

            </div>
        </div>
        </form>
    </form>
</div>