<h2 class="header_table">Техніка без категорії</h2>
<div class="main">

    <!-- Another variation with a button -->
    <span class="input-group  col1">
            <input class="form-control mysearch search-admin-panel" placeholder="Пошук" type="text" onkeyup="
            filterSelect(1)">
            <div class="input-group-append">
                <button class="btn btn-secondary btn-admin-header" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </span>

    <span class="col2">
        <button class="btn btn-secondary btn-admin-header" onclick="openAddTechnicWithoutCategoryModel()" type="button">
            <i class="fa fa-plus"></i>
        </button>
        </span>
</div>


<div class="table-responsive-md" id="allTechnicsWithoutCategory">
    <table class="table  table-hover table-bordered technics-table">
        <thead class="thead-dark">
        <tr>
            <th id="id" class="id">#</th>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Ред</th>
            <th>Вид</th>

        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>

<div class="modal scroll" id="addTechnicModelWithoutCategory">

    <form class="modal-content modal-content-admin-panel" onsubmit='return false'>
        <div class="header-signup">
            <div class="left">
                <span class="text-uppercase">Додати техніку</span>
            </div>
            <div class="right">
                <div class="fa fa-remove popup-close link" data-dismiss="modal"
                     onclick="document.getElementById('addTechnicModelWithoutCategory').style.display='none'" title="Закрити"></div>
            </div>
        </div>
        <div class="container scroll">

            <span class="form-group">
<!--    <label for="sel1">Тип</label>-->

                <div class="one-row-admin-panel">
                <span class="name-type">Назва</span>
     <div class="ds">
         <input class="form-control form-item admin-panel-input" id="name_loader" placeholder="Назва" required/>

         </div>
                </div>

                <div class="one-row-admin-panel">
<div class="name-type right-type">Ціна</div>
               <div class="ds">
                   <input class="form-control form-item admin-panel-input" id="price-input-technic" min="1"
                          name="price-input" placeholder="Ціна" required type="number">

                <div class="currency">
                <select class="form-control form-item ds admin-panel-input" id="currency-choice">
                    <option>грн</option>
                    <option>$</option>
                    <option>&euro;</option>
                </select>
                    </div>
                    </div>
                </div>
 <br>
                <div class="one-row-admin-panel">
                <div class="name-type">Рік</div>
                <div class="ds">
                <input class="form-control form-item admin-panel-input" max="2020" min="1950" placeholder="Рік випуску"
                       required
                       type="number" name="year-input" id="year-technic-input">
                </div>
            </div>
                <div class="one-row-admin-panel">
                    <div class="name-type right-type">Статус</div>
                       <div class="ds">
                            <select class="form-control form-item admin-panel-input" id="status">
                                <option default selected>в наявності</option>
                                <option>під замовлення</option>
                                <option>немає в наявності</option>
                                <option>продано</option>
                            </select>
                       </div>
                </div>
                <br>


                <div class="form-group">
                <label for="description">Опис</label>
                    <div id="editor" name="description"></div>
                </div>

               <div id="fileUploadForm" class="uploader__box js-uploader__box l-center-box">
  <form id="fileUploadForm">
      <div class="uploader__contents">
          <label class="button button--secondary" for="fileinput">Додати фото</label>
          <input id="fileinput" class="uploader__file-input" type="file" multiple value="Select Files">
      </div>
      <input class="uploadButton button button--big-bottom" type="submit" value="Upload Selected Files">
  </form>
</div>


             </span>
            <div class="signup-btn-container">
                <button class="btn btn-primary btn-small " id="add-btn" onclick="addTechnicWithoutCategoryToDB()">Додати</button>
                <button class="btn btn-danger btn-small" id="cancel-modal-admin-panel" data-dismiss="modal"
                        onclick="document.getElementById('addTechnicModelWithoutCategory').style.display='none'">
                    Скасувати
                </button>
            </div>
        </div>

    </form>
</div>