<div class="oneCategory">
    <div class="thumbnail">
        <img class="" src="/images/category_placeholders/<%= category.photo_location %>">
        <div class="caption">
            <div class="name"><b><span class=""><%= category.category_name %></span></b></div>


    </div>

</div>

</div>

<div class='typeDiv'><!--  col-md-6 col-lg-4 -->
    <img class="" src="/images/category_placeholders/<%= category.photo_location %>">
    <div class='nameType font-add'>
        <h2 class="type_h2"><%= category.category_name %></h2>
    </div>
</div>