<div class="oneModel ">
    <div class="thumbnail thumbnail-models">
        <div class="caption ">
            <a href="<%= model.url %>" style="text-decoration: none">
                <div class="name nameModel"><b><span class=""><%= model.mark + " "  + model.model%></span></b></div>
            </a>
            <span style="display: none; height: 50px"> Купити запчастини до комбайна <%= model.mark + " "  + model.model%>%></span>
        </div>

    </div>

</div>