<div class="oneMark col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="thumbnail thumbnail-marks">
        <a href="<%= mark.url %>">
        <img class="" src="/images/marks_photos/<%= mark.logo_file %>" alt="Запчастини до комбайнів <%= mark.name %>. Запчасти для комбайнов <%= mark.name %>">
        </a>
        <div class="caption captionMark">
    </div>

</div>

</div>
