<div class="oneModel col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="thumbnail thumbnail-models">
        <div class="caption ">
            <a href="<%= model.url %>" style="text-decoration: none">
            <div class="name nameModel"><b><span class=""><%= model.mark + " "  + model.model%></span></b></div>
            </a>
            <span style="display: none; height: 50px"> Купити запчастини до комбайна <%= model.mark + " "  + model.model%>. Купить запчасти для комбайна <%= model.mark + " "  + model.model%></span>
    </div>

</div>

</div>
