<div class="oneModel col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="thumbnail thumbnail-models">
        <div class="caption ">
            <div class="name nameModel"><b><span class=""><%= model.mark + " "  + model.model%></span></b></div>
    </div>

</div>

</div>
