<div class="slider__item">
    <div>
        <a href="http://tracktop.com.ua/images/<%= image %>" data-fancybox="images-single">
            <img  src="/images/<%= image %>">
        </a>
    </div>
</div>