<div class="slider__item">
    <div>
        <a href="http://tracktop.com.ua/images/<%= image %>" class="fancybox" rel="images-single"  >
            <img  class="one_image lazy" src="https://via.placeholder.com/440x300?text=<%= alt %>" data-src="/images/<%= image %>" alt='<%= alt %>'>
        </a>
<!--        <i class="fa fa-arrows-alt icons full_screen_btn"></i>-->
    </div>
</div>