<div class="slider__item">
    <div>
        <a href="http://tracktop.com.ua/images/<%= image %>" class="fancybox" rel="images-single"  >
            <img  src="/images/<%= image %>">
        </a>
    </div>
</div>