<div class="myOrder">

    <p class="centerAlign">
        <span class="order-title"><%= technic.title%> </span>
    </p>
    <div class="image-control">
        <div style="display: flex; flex-direction: column;">

            <div class="price-box">
                <div class="minus btn btn-xs btn-danger btn-circle">
                    <i class="fa fa-minus"></i>
                </div>
                <span class="label order-count" style="color:black;"><span class=""
                        style="display:none">x</span><%= technic.quantity %></span>
                <div class="plus btn btn-xs btn-success btn-circle">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="removeButton count-clear btn btn-xs btn-default">
                    Видалити
                </div>
            </div>
            <div class="orderCharacteristics">
                <span>Ціна: </span>
                <span class="price"><%=technic.price %> <% if(technic.currency.toString() == "гривня") { %>
                        грн
                    <%}%>
                    <% if(technic.currency.toString() == "долар") { %>
                        $
                    <%}%>
                    <% if(technic.currency.toString() == "євро") { %>
                        €
                    <%}%></span>
            </div>
        </div>
        <img class="imgInOrder" src="/images/<%=technic.icon%>">
    </div>
</div>